n8n-control/madelan/mantenimiento-contacts/workflows/raw/contacts-sync.raw.json
[
    {
        "updatedAt": "2026-03-25T01:50:37.776Z",
        "createdAt": "2026-02-22T14:57:45.294Z",
        "id": "NJzNVYQwZFrJ6MyT",
        "name": "manteniemiento-contacts",
        "description": null,
        "active": false,
        "isArchived": false,
        "nodes": [
            {
                "parameters": {
                    "options": {}
                },
                "type": "n8n-nodes-base.splitInBatches",
                "typeVersion": 3,
                "position": [
                    608,
                    272
                ],
                "id": "0af24e49-1b4f-48e1-9b30-5d48c1298476",
                "name": "Loop Over Items"
            },
            {
                "parameters": {
                    "documentId": {
                        "__rl": true,
                        "value": "1wakAFQlVrpRv0H6pflrq65aTtRiQFgu_UGbyR_c8Ih0",
                        "mode": "list",
                        "cachedResultName": "ventas-demo",
                        "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wakAFQlVrpRv0H6pflrq65aTtRiQFgu_UGbyR_c8Ih0/edit?usp=drivesdk"
                    },
                    "sheetName": {
                        "__rl": true,
                        "value": "gid=0",
                        "mode": "list",
                        "cachedResultName": "Hoja 1",
                        "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wakAFQlVrpRv0H6pflrq65aTtRiQFgu_UGbyR_c8Ih0/edit#gid=0"
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.googleSheets",
                "typeVersion": 4.7,
                "position": [
                    -464,
                    -80
                ],
                "id": "45901928-2633-4b17-8029-9be16a307802",
                "name": "Get row(s) in sheet",
                "credentials": {
                    "googleSheetsOAuth2Api": {
                        "id": "X9RzWqukg9OFpJYv",
                        "name": "Google Sheets account"
                    }
                }
            },
            {
                "parameters": {
                    "familyName": "={{ $json.Apellido }}",
                    "givenName": "={{ $json.Nombre }}",
                    "additionalFields": {
                        "emailsUi": {
                            "emailsValues": [
                                {
                                    "type": "work",
                                    "value": "={{ $json.Direcciones }}"
                                }
                            ]
                        },
                        "phoneUi": {
                            "phoneValues": [
                                {
                                    "type": "work",
                                    "value": "={{ String($json[\"Teléfono\"]) }}"
                                }
                            ]
                        }
                    }
                },
                "type": "n8n-nodes-base.googleContacts",
                "typeVersion": 1,
                "position": [
                    1168,
                    96
                ],
                "id": "8be6a95d-ee70-4829-a254-e1888ea42610",
                "name": "Create a contact",
                "credentials": {
                    "googleContactsOAuth2Api": {
                        "id": "FXFyrFi3HmVv9pjW",
                        "name": "Google Contacts account"
                    }
                }
            },
            {
                "parameters": {
                    "operation": "delete",
                    "contactId": "={{ $json.resourceName.replace(\"people/\",\"\") }}"
                },
                "type": "n8n-nodes-base.googleContacts",
                "typeVersion": 1,
                "position": [
                    1104,
                    288
                ],
                "id": "d6b92a40-a012-40bf-a7bf-2c90dce7e64a",
                "name": "Delete a contact",
                "credentials": {
                    "googleContactsOAuth2Api": {
                        "id": "FXFyrFi3HmVv9pjW",
                        "name": "Google Contacts account"
                    }
                }
            },
            {
                "parameters": {},
                "type": "n8n-nodes-base.noOp",
                "typeVersion": 1,
                "position": [
                    800,
                    -160
                ],
                "id": "ff19996f-e707-41f1-bf4c-416b0b757390",
                "name": "No Operation, do nothing2"
            },
            {
                "parameters": {
                    "documentId": {
                        "__rl": true,
                        "value": "1wakAFQlVrpRv0H6pflrq65aTtRiQFgu_UGbyR_c8Ih0",
                        "mode": "list",
                        "cachedResultName": "ventas-demo",
                        "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wakAFQlVrpRv0H6pflrq65aTtRiQFgu_UGbyR_c8Ih0/edit?usp=drivesdk"
                    },
                    "sheetName": {
                        "__rl": true,
                        "value": "gid=0",
                        "mode": "list",
                        "cachedResultName": "Hoja 1",
                        "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wakAFQlVrpRv0H6pflrq65aTtRiQFgu_UGbyR_c8Ih0/edit#gid=0"
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.googleSheets",
                "typeVersion": 4.7,
                "position": [
                    1008,
                    96
                ],
                "id": "a61d37ec-d7cd-466e-833f-8596f538c64f",
                "name": "Get row(s) in sheet1",
                "credentials": {
                    "googleSheetsOAuth2Api": {
                        "id": "X9RzWqukg9OFpJYv",
                        "name": "Google Sheets account"
                    }
                }
            },
            {
                "parameters": {
                    "assignments": {
                        "assignments": [
                            {
                                "id": "2167018c-40e8-45bd-a465-23ec934efea9",
                                "name": "Nombre",
                                "value": "={{ $json.Nombre }}",
                                "type": "string"
                            },
                            {
                                "id": "3fa14924-cacd-4cd7-889d-b5cc560083d1",
                                "name": "Apellido",
                                "value": "={{ $json.Apellido }}",
                                "type": "string"
                            },
                            {
                                "id": "e7a030b0-0144-4062-8b7e-9cfaa383a002",
                                "name": "Teléfono",
                                "value": "={{ $json['Teléfono'] }}",
                                "type": "string"
                            },
                            {
                                "id": "4b5b209e-e392-4e00-840f-e3cd10adfa19",
                                "name": "Direcciones",
                                "value": "={{ $json.Direcciones }}",
                                "type": "string"
                            }
                        ]
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.set",
                "typeVersion": 3.4,
                "position": [
                    -304,
                    -80
                ],
                "id": "fcc81c69-8238-4ccc-96cb-eb7955c3f3ce",
                "name": "Edit Fields1"
            },
            {
                "parameters": {
                    "assignments": {
                        "assignments": [
                            {
                                "id": "2167018c-40e8-45bd-a465-23ec934efea9",
                                "name": "Nombre",
                                "value": "={{ $json.names.givenName }}",
                                "type": "string"
                            },
                            {
                                "id": "3fa14924-cacd-4cd7-889d-b5cc560083d1",
                                "name": "Apellido",
                                "value": "={{ $json.names.familyName }}",
                                "type": "string"
                            },
                            {
                                "id": "e7a030b0-0144-4062-8b7e-9cfaa383a002",
                                "name": "Teléfono",
                                "value": "={{ $json.phoneNumbers.work[0] }}",
                                "type": "string"
                            },
                            {
                                "id": "4b5b209e-e392-4e00-840f-e3cd10adfa19",
                                "name": "Direcciones",
                                "value": "={{ $json.emailAddresses.work[0] }}",
                                "type": "string"
                            }
                        ]
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.set",
                "typeVersion": 3.4,
                "position": [
                    -304,
                    80
                ],
                "id": "20b1f988-a593-4703-8499-d25036c31baf",
                "name": "Edit Fields2"
            },
            {
                "parameters": {
                    "aggregate": "aggregateAllItemData",
                    "options": {}
                },
                "type": "n8n-nodes-base.aggregate",
                "typeVersion": 1,
                "position": [
                    -144,
                    -80
                ],
                "id": "a53e0058-b84a-4c94-99c2-7708d39d2e87",
                "name": "aggretate data sheets"
            },
            {
                "parameters": {
                    "aggregate": "aggregateAllItemData",
                    "options": {}
                },
                "type": "n8n-nodes-base.aggregate",
                "typeVersion": 1,
                "position": [
                    -144,
                    80
                ],
                "id": "2a933e5e-25a8-47c2-ae06-2ae15887aaa8",
                "name": "aggregate data contacts"
            },
            {
                "parameters": {
                    "operation": "getAll",
                    "limit": 20,
                    "fields": [
                        "names",
                        "emailAddresses",
                        "phoneNumbers"
                    ],
                    "options": {}
                },
                "type": "n8n-nodes-base.googleContacts",
                "typeVersion": 1,
                "position": [
                    864,
                    288
                ],
                "id": "d7bc1778-8d74-4d11-b86a-7a46f5cd3d29",
                "name": "Get many contacts1",
                "credentials": {
                    "googleContactsOAuth2Api": {
                        "id": "FXFyrFi3HmVv9pjW",
                        "name": "Google Contacts account"
                    }
                }
            },
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {}
                        ]
                    }
                },
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.3,
                "position": [
                    -720,
                    16
                ],
                "id": "e8d917a2-a10a-4088-8ea1-c4ecc2effae6",
                "name": "Schedule Trigger"
            },
            {
                "parameters": {
                    "operation": "getAll",
                    "returnAll": true,
                    "fields": [
                        "names",
                        "emailAddresses",
                        "phoneNumbers"
                    ],
                    "options": {}
                },
                "type": "n8n-nodes-base.googleContacts",
                "typeVersion": 1,
                "position": [
                    -464,
                    80
                ],
                "id": "2c581ee7-728a-4cf8-b95c-7507a08ccf0a",
                "name": "Get many contacts2",
                "credentials": {
                    "googleContactsOAuth2Api": {
                        "id": "FXFyrFi3HmVv9pjW",
                        "name": "Google Contacts account"
                    }
                }
            },
            {
                "parameters": {},
                "type": "n8n-nodes-base.merge",
                "typeVersion": 3.2,
                "position": [
                    96,
                    0
                ],
                "id": "56e376ad-7539-4756-899b-51b1dc245b54",
                "name": "Merge"
            },
            {
                "parameters": {
                    "aggregate": "aggregateAllItemData",
                    "options": {}
                },
                "type": "n8n-nodes-base.aggregate",
                "typeVersion": 1,
                "position": [
                    256,
                    0
                ],
                "id": "5eb7475f-68d4-41d5-a208-d8b6aaf8fdbe",
                "name": "Aggregate"
            },
            {
                "parameters": {
                    "jsCode": "const isEqual = JSON.stringify($input.first().json.data[0]) === JSON.stringify($input.first().json.data[1]);\n\nreturn [\n  {\n    json: {\n      isEqual\n    }\n  }\n];"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    416,
                    0
                ],
                "id": "9c3e132c-01ff-45f1-a3de-e623a9bc959c",
                "name": "Code in JavaScript"
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict",
                            "version": 3
                        },
                        "conditions": [
                            {
                                "id": "20e58254-3831-407f-9e6e-408505946a81",
                                "leftValue": "={{ $json.isEqual }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.3,
                "position": [
                    576,
                    0
                ],
                "id": "e206f2a9-28f0-4de9-a318-d10d4625574b",
                "name": "If"
            },
            {
                "parameters": {},
                "type": "n8n-nodes-base.noOp",
                "typeVersion": 1,
                "position": [
                    1360,
                    96
                ],
                "id": "69769db1-314b-4083-91eb-35f777810c0b",
                "name": "No Operation, do nothing"
            },
            {
                "parameters": {
                    "amount": 0.1
                },
                "type": "n8n-nodes-base.wait",
                "typeVersion": 1.1,
                "position": [
                    1280,
                    288
                ],
                "id": "ac7a5533-2c8f-42af-9b02-fea885b89222",
                "name": "Wait",
                "webhookId": "b76e50a9-61fe-4f9e-92e2-c8f44d30bfc8"
            },
            {
                "parameters": {
                    "options": {}
                },
                "type": "n8n-nodes-base.splitInBatches",
                "typeVersion": 3,
                "position": [
                    800,
                    80
                ],
                "id": "f5fdc690-87f4-47b8-8f66-aad0f4579228",
                "name": "Loop Over Items1"
            },
            {
                "parameters": {
                    "options": {}
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.4,
                "position": [
                    -464,
                    -240
                ],
                "id": "6e72a550-b7ac-44e6-b15c-9296cb97df36",
                "name": "HTTP Request"
            }
        ],
        "connections": {
            "Loop Over Items": {
                "main": [
                    [
                        {
                            "node": "Loop Over Items1",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Get many contacts1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Create a contact": {
                "main": [
                    [
                        {
                            "node": "No Operation, do nothing",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get row(s) in sheet": {
                "main": [
                    [
                        {
                            "node": "Edit Fields1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Delete a contact": {
                "main": [
                    [
                        {
                            "node": "Wait",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get row(s) in sheet1": {
                "main": [
                    [
                        {
                            "node": "Create a contact",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Edit Fields2": {
                "main": [
                    [
                        {
                            "node": "aggregate data contacts",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Edit Fields1": {
                "main": [
                    [
                        {
                            "node": "aggretate data sheets",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "aggretate data sheets": {
                "main": [
                    [
                        {
                            "node": "Merge",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "aggregate data contacts": {
                "main": [
                    [
                        {
                            "node": "Merge",
                            "type": "main",
                            "index": 1
                        }
                    ]
                ]
            },
            "Get many contacts1": {
                "main": [
                    [
                        {
                            "node": "Delete a contact",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Schedule Trigger": {
                "main": [
                    [
                        {
                            "node": "Get row(s) in sheet",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Get many contacts2",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get many contacts2": {
                "main": [
                    [
                        {
                            "node": "Edit Fields2",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Merge": {
                "main": [
                    [
                        {
                            "node": "Aggregate",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Aggregate": {
                "main": [
                    [
                        {
                            "node": "Code in JavaScript",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Code in JavaScript": {
                "main": [
                    [
                        {
                            "node": "If",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "If": {
                "main": [
                    [
                        {
                            "node": "No Operation, do nothing2",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Loop Over Items",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Wait": {
                "main": [
                    [
                        {
                            "node": "Loop Over Items",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Loop Over Items1": {
                "main": [
                    [],
                    [
                        {
                            "node": "Get row(s) in sheet1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "settings": {
            "executionOrder": "v1",
            "binaryMode": "separate",
            "availableInMCP": false
        },
        "staticData": null,
        "meta": {
            "templateCredsSetupCompleted": true
        },
        "pinData": {},
        "versionId": "338cb849-43ee-42c5-9a07-76b9c7a8c696",
        "activeVersionId": null,
        "versionCounter": 567,
        "triggerCount": 0,
        "tags": [],
        "shared": [
            {
                "updatedAt": "2026-02-22T14:57:45.298Z",
                "createdAt": "2026-02-22T14:57:45.298Z",
                "role": "workflow:owner",
                "workflowId": "NJzNVYQwZFrJ6MyT",
                "projectId": "StgP3vYWx5mQlzcZ",
                "project": {
                    "updatedAt": "2026-02-21T16:30:14.395Z",
                    "createdAt": "2026-02-21T16:29:23.543Z",
                    "id": "StgP3vYWx5mQlzcZ",
                    "name": "Joaquin Gonzalez <holaj3415@gmail.com>",
                    "type": "personal",
                    "icon": null,
                    "description": null,
                    "creatorId": "358c88f6-fc3c-4a32-b755-928a329bf1f6"
                }
            }
        ]
    }
]