n8n-control/mailchimp/workflows/clean/mailchimp-contacts-sync.json
{
  "name": "Mailchimp — Sync Contactos desde Sheets",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        400
      ],
      "id": "n-trigger",
      "name": "Trigger Manual"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "MAILCHIMP_LIST_ID",
              "value": "TU_LIST_ID",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        400
      ],
      "id": "n-config",
      "name": "Config"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "TU_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Hoja 1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        640,
        400
      ],
      "id": "n-sheets",
      "name": "Leer Contactos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "COMPLETAR",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normaliza contactos de Google Sheets para Mailchimp\n// Mapea columnas en español/inglés, limpia datos, filtra inválidos\n// Output: items individuales listos para upsert\n\nconst INACTIVE = new Set(['inactivo', 'inactive', 'no', 'baja', '0', 'false']);\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const r = item.json;\n\n  // ── Email (buscar en cualquier variante de columna) ──\n  const email = (\n    r.email || r.Email || r.EMAIL ||\n    r.correo || r.Correo || r.mail || r.Mail || ''\n  ).toString().trim().toLowerCase();\n\n  if (!email || !email.includes('@')) continue;\n\n  // ── Nombre ──\n  const fname = (\n    r.nombre || r.Nombre || r['Nombre (FNAME)'] ||\n    r.FNAME || r.fname || r.first_name || ''\n  ).toString().trim();\n\n  // ── Apellido ──\n  const lname = (\n    r.apellido || r.Apellido || r['Apellido (LNAME)'] ||\n    r.LNAME || r.lname || r.last_name || ''\n  ).toString().trim();\n\n  // ── Teléfono ──\n  const phone = (\n    r['Teléfono (PHONE)'] || r['Telefono (PHONE)'] ||\n    r['teléfono'] || r.telefono || r.Telefono || r['Teléfono'] ||\n    r.PHONE || r.phone || r.tel || ''\n  ).toString().trim();\n\n  // ── Estado → status MC ──\n  const rawEstado = (\n    r['Estado (Activo/Inactivo)'] || r.estado || r.Estado ||\n    r.status || r.Status || 'activo'\n  ).toString().trim().toLowerCase();\n\n  const status = INACTIVE.has(rawEstado) ? 'unsubscribed' : 'subscribed';\n\n  // ── Tipo → tag ──\n  const tag = (\n    r['Tipo (Tag)'] || r.tipo || r.Tipo ||\n    r.tag || r.Tag || r.etiqueta || ''\n  ).toString().trim().toLowerCase();\n\n  results.push({ json: { email, fname, lname, phone, status, tag } });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        400
      ],
      "id": "n-normalizar",
      "name": "Normalizar Contactos"
    },
    {
      "parameters": {
        "resource": "member",
        "operation": "upsert",
        "list": "={{ $('Config').first().json.MAILCHIMP_LIST_ID }}",
        "email": "={{ $json.email }}",
        "status": "={{ $json.status }}",
        "mergeFieldsUi": {
          "mergeFieldsValues": [
            {
              "name": "FNAME",
              "value": "={{ $json.fname }}"
            },
            {
              "name": "LNAME",
              "value": "={{ $json.lname }}"
            },
            {
              "name": "PHONE",
              "value": "={{ $json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ],
      "id": "n-upsert",
      "name": "Upsert Contacto",
      "credentials": {
        "mailchimpApi": {
          "id": "COMPLETAR",
          "name": "Mailchimp API"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "memberTag",
        "operation": "create",
        "list": "={{ $('Config').first().json.MAILCHIMP_LIST_ID }}",
        "email": "={{ $('Normalizar Contactos').item.json.email }}",
        "tags": "={{ $('Normalizar Contactos').item.json.tag }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        1340,
        400
      ],
      "id": "n-tag",
      "name": "Asignar Tag",
      "credentials": {
        "mailchimpApi": {
          "id": "COMPLETAR",
          "name": "Mailchimp API"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## 1. Source\nLee contactos de Google Sheets.\nConfigurar: spreadsheet ID + hoja + credencial OAuth2.",
        "width": 460,
        "height": 120,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        240
      ],
      "id": "sn-1",
      "name": "Nota Source"
    },
    {
      "parameters": {
        "content": "## 2. Normalización\nMapea columnas del Sheets al formato MC.\nemail: lowercase + trim\nestado: Activo→subscribed, Inactivo→unsubscribed\ntipo: se usa como tag",
        "width": 260,
        "height": 140,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        240
      ],
      "id": "sn-2",
      "name": "Nota Normalizar"
    },
    {
      "parameters": {
        "content": "## 3. Mailchimp\n**Upsert**: crea si no existe, actualiza si existe.\n**Tag**: asigna tipo como etiqueta.\nRetry x3, continueOnError.\nNodos 100% nativos.",
        "width": 500,
        "height": 120,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1100,
        240
      ],
      "id": "sn-3",
      "name": "Nota Mailchimp"
    }
  ],
  "connections": {
    "Trigger Manual": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Leer Contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Contactos": {
      "main": [
        [
          {
            "node": "Normalizar Contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Contactos": {
      "main": [
        [
          {
            "node": "Upsert Contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Contacto": {
      "main": [
        [
          {
            "node": "Asignar Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "versionId": "a7385f36-3ccd-4b6a-9f27-a2d76084f0d1",
  "id": "OGTVMKxItHGvgPTy"
}
