n8n-control/mantenimiento-contacts/workflows/clean/contacts-sync.json
{
    "name": "manteniemiento-contacts",
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {}
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -720,
                16
            ],
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "documentId": "1wakAFQlVrpRv0H6pflrq65aTtRiQFgu_UGbyR_c8Ih0",
                "sheetName": "gid=0"
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                -464,
                -80
            ],
            "name": "Get row(s) in sheet"
        },
        {
            "parameters": {
                "operation": "getAll",
                "returnAll": true,
                "fields": [
                    "names",
                    "emailAddresses",
                    "phoneNumbers"
                ]
            },
            "type": "n8n-nodes-base.googleContacts",
            "typeVersion": 1,
            "position": [
                -464,
                80
            ],
            "name": "Get many contacts2"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "Nombre",
                            "value": "={{ $json.Nombre }}"
                        },
                        {
                            "name": "Apellido",
                            "value": "={{ $json.Apellido }}"
                        },
                        {
                            "name": "Teléfono",
                            "value": "={{ $json['Teléfono'] }}"
                        },
                        {
                            "name": "Direcciones",
                            "value": "={{ $json.Direcciones }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -304,
                -80
            ],
            "name": "Edit Fields1"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "Nombre",
                            "value": "={{ $json.names.givenName }}"
                        },
                        {
                            "name": "Apellido",
                            "value": "={{ $json.names.familyName }}"
                        },
                        {
                            "name": "Teléfono",
                            "value": "={{ $json.phoneNumbers.work[0] }}"
                        },
                        {
                            "name": "Direcciones",
                            "value": "={{ $json.emailAddresses.work[0] }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -304,
                80
            ],
            "name": "Edit Fields2"
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData"
            },
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                -144,
                -80
            ],
            "name": "aggregate data sheets"
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData"
            },
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                -144,
                80
            ],
            "name": "aggregate data contacts"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                96,
                0
            ],
            "name": "Merge"
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData"
            },
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                256,
                0
            ],
            "name": "Aggregate"
        },
        {
            "parameters": {
                "jsCode": "const isEqual = JSON.stringify($input.first().json.data[0]) === JSON.stringify($input.first().json.data[1]);\n\nreturn [{ json: { isEqual } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                416,
                0
            ],
            "name": "Code in JavaScript"
        },
        {
            "parameters": {
                "conditions": {
                    "conditions": [
                        {
                            "leftValue": "={{ $json.isEqual }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                576,
                0
            ],
            "name": "If"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Get row(s) in sheet",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Get many contacts2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get row(s) in sheet": {
            "main": [
                [
                    {
                        "node": "Edit Fields1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get many contacts2": {
            "main": [
                [
                    {
                        "node": "Edit Fields2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields1": {
            "main": [
                [
                    {
                        "node": "aggregate data sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields2": {
            "main": [
                [
                    {
                        "node": "aggregate data contacts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "aggregate data sheets": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "aggregate data contacts": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "Aggregate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript": {
            "main": [
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}