n8n-control/rendiciones/workflows/clean/rendicion-de-gastos.json
{
  "id": "brquKOgljLZruZBl",
  "name": "Rendicion de gastos",
  "active": false,
  "versionId": "ffdf9695-eb8d-4016-9a4e-89775110fc57",
  "settings": {
    "availableInMCP": false,
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "timeSavedMode": "fixed"
  },
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ ['document','pdf'].includes($('tiene_contenido_valido').item.json.normalized_kind) }}",
                    "rightValue": "=",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "9c98de98-37ad-4db1-94ec-23cc63ec61d2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf/document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b2a4910d-bc2b-46cc-a605-6695bf5ac98b",
                    "leftValue": "={{ $('tiene_contenido_valido').item.json.normalized_kind }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagenes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4c11d9ed-621c-4587-90b2-817de1126977",
                    "leftValue": "={{ $('Normalizacion').item.json.normalized_kind }}",
                    "rightValue": "manual",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7081906c-a47c-48d2-a6c4-e395030d395b",
                    "leftValue": "={{ true }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "else"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -64,
        208
      ],
      "id": "488b10f4-8594-419c-9e31-2419ad816d66",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "# Entrada de info/input\n\n",
        "height": 384,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2192,
        -16
      ],
      "typeVersion": 1,
      "id": "3a0da3c1-24fd-4296-b49b-c053fc5a28cf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Normalización\n\n\n",
        "height": 640,
        "width": 528,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1904,
        -16
      ],
      "typeVersion": 1,
      "id": "af9a5bc1-6ddf-431b-bf49-044d4daade50",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Validación\n* telefonos autorizados\n* tipos de mensajes autorizados\n\n\n",
        "height": 640,
        "width": 1184,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        -16
      ],
      "typeVersion": 1,
      "id": "eb5cab15-bcc8-4eb0-8f9e-a7cf5eed6738",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Decisión\n\n\n\n",
        "height": 704,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -16
      ],
      "typeVersion": 1,
      "id": "625e0a25-d26c-4caa-81a4-b0a35e6996bc",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Ejecución\n\n\n",
        "height": 1440,
        "width": 1296,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        -16
      ],
      "typeVersion": 1,
      "id": "ec4a6ebc-0eb3-480a-bf68-8ce45381f783",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1760,
        384
      ],
      "id": "2cf8d1a1-2f68-4783-a90e-730d608be42a",
      "name": "descarte_sin_mensajes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "35489a93-cb47-446a-b7aa-db684c581369",
              "leftValue": "={{ $json.is_message }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1584,
        144
      ],
      "id": "055f0b2e-0d85-4a32-ad9c-cf355c3e0080",
      "name": "Messages?"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json;\n\nconst safe = (fn, fallback = undefined) => {\n  try { return fn(); } catch (e) { return fallback; }\n};\n\nconst msg = raw?.message;\n\nif (!msg) {\n  return [{ json: { is_message: false, reason: \"no_message\" } }];\n}\n\n// --- base ids ---\nconst chat_id = safe(() => String(msg.chat.id));\nconst user_id = safe(() => String(msg.from.id));\nconst message_id = safe(() => String(msg.message_id));\nconst timestamp = safe(() => Number(msg.date)); // unix seconds\n\nconst chat_type = safe(() => msg.chat.type);\nconst user_display =\n  safe(() => msg.from.username) ||\n  [safe(() => msg.from.first_name), safe(() => msg.from.last_name)].filter(Boolean).join(\" \") ||\n  null;\n\n// --- text / caption ---\nconst text_raw =\n  (typeof msg.text === \"string\" ? msg.text : null) ??\n  (typeof msg.caption === \"string\" ? msg.caption : null);\n\nconst text = typeof text_raw === \"string\" ? text_raw.trim() : null;\n\n// --- detect media ---\nconst has_photo = Array.isArray(msg.photo) && msg.photo.length > 0;\nconst has_document = !!msg.document;\n\nlet normalized_kind = \"other\";\nlet mime_type = null;\nlet telegram_file_id = null;\nlet file_name = null;\n\n// Si es document, prioridad 1 (PDF, etc.)\nif (has_document) {\n  mime_type = msg.document.mime_type || null;\n  telegram_file_id = msg.document.file_id || null;\n  file_name = msg.document.file_name || null;\n\n  if (mime_type === \"application/pdf\") normalized_kind = \"pdf\";\n  else normalized_kind = \"document\";\n}\n// Si es photo, prioridad 2\nelse if (has_photo) {\n  const best = msg.photo[msg.photo.length - 1]; // mejor resolución\n  telegram_file_id = best.file_id || null;\n  mime_type = \"image/jpeg\"; // Telegram no siempre trae mime en photo\n  normalized_kind = \"image\";\n}\n// Si hay texto, manual\nelse if (text && text.length > 0) {\n  normalized_kind = \"manual\";\n}\n\n// --- binary ---\nconst binary_keys = $binary ? Object.keys($binary) : [];\n// Con tu config suele ser \"data\" (como en tu screenshot). Si cambia, lo agarramos igual.\nconst binary_key = binary_keys.includes(\"data\") ? \"data\" : (binary_keys[0] || null);\nconst has_binary = !!binary_key;\n\nreturn [\n  {\n    json: {\n      is_message: true,\n      channel: \"telegram\",\n\n      chat_id,\n      user_id,\n      user_display,\n      chat_type,\n\n      message_id,\n      timestamp,\n\n      // contenido\n      text,\n\n      // media\n      normalized_kind,        // pdf | image | manual | document | other\n      mime_type,\n      telegram_file_id,\n      file_name,\n\n      // binary (si vino archivo y tenés Download Images/Files ON)\n      has_binary,\n      binary_key,             // normalmente \"data\"\n      binary_keys,            // debug\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1824,
        144
      ],
      "id": "2f409e71-386f-4477-aff7-0e2d654abb75",
      "name": "Normalizacion"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json;\n\nif (!payload?.is_message) {\n  return [{\n    json: {\n      ...payload,\n      message_allowed: false,\n      reason: \"no_message\"\n    }\n  }];\n}\n\n// Tipos permitidos\nconst ALLOWED_KINDS = new Set([\"manual\", \"image\", \"pdf\",\"document\"]);\n\nconst kind = payload.normalized_kind;\nconst allowed = ALLOWED_KINDS.has(kind);\n\nreturn [{\n  json: {\n    ...payload,\n    message_allowed: allowed,\n    reason: allowed ? null : \"message_not_allowed\",\n    kind_received: kind\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        128
      ],
      "id": "1d582f37-ceca-4242-9ffd-8445f7e6805e",
      "name": "parsear_mensajes_telegram"
    },
    {
      "parameters": {
        "content": "# Output\n\n\n\n",
        "height": 624,
        "width": 496,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4912,
        -16
      ],
      "typeVersion": 1,
      "id": "63150a0c-f6c5-4765-8d07-7bc47518695f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Validaciones finales\n",
        "height": 864,
        "width": 1376,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        -16
      ],
      "typeVersion": 1,
      "id": "92e660ed-ece6-435e-9ad6-cdd3d9680cae",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node\n// Input esperado: $json.text (string) del nodo \"Extract from File\"\n\nconst raw = String($json.text || \"\");\n\n// ======================================================\n// HELPERS\n// ======================================================\n\nconst cleanup = (s) =>\n  String(s || \"\")\n    .replace(/\\r/g, \"\")\n    .replace(/\\u00a0/g, \" \")\n    .replace(/[ \\t]+/g, \" \")\n    .replace(/\\n{3,}/g, \"\\n\\n\")\n    .trim();\n\nconst onlyDigits = (s) => {\n  if (s == null) return null;\n  const d = String(s).replace(/\\D/g, \"\");\n  return d || null;\n};\n\nconst match1 = (t, re, group = 1) => {\n  const m = t.match(re);\n  return m ? String(m[group] ?? \"\").trim() : null;\n};\n\nconst parseARNumber = (v) => {\n  if (v == null) return null;\n\n  const s = String(v)\n    .replace(/\\$/g, \"\")\n    .replace(/\\s/g, \"\")\n    .trim();\n\n  if (!s) return null;\n\n  const normalized = s.replace(/\\./g, \"\").replace(/,/g, \".\");\n  const n = Number(normalized);\n\n  return Number.isFinite(n) ? Math.round(n * 100) / 100 : null;\n};\n\nconst toIsoDate = (s) => {\n  if (!s) return null;\n  const m = String(s).match(/\\b(\\d{2})\\/(\\d{2})\\/(\\d{4})\\b/);\n  if (!m) return null;\n  return `${m[3]}-${m[2]}-${m[1]}`;\n};\n\nconst firstDate = (t) => {\n  const m = t.match(/\\b\\d{2}\\/\\d{2}\\/\\d{4}\\b/);\n  return m ? toIsoDate(m[0]) : null;\n};\n\nconst unique = (arr) => [...new Set(arr.filter(Boolean))];\n\nconst escapeRegex = (s) =>\n  String(s).replace(/[.*+?^${}()|[\\]\\\\]/g, \"\\\\$&\");\n\nconst normalizeName = (s) => {\n  if (!s) return null;\n  return cleanup(s).replace(/\\s+/g, \" \").trim();\n};\n\n// ======================================================\n// PRE-NORMALIZACIÓN\n// ======================================================\n\nlet text = cleanup(raw);\n\n// Nos quedamos solo con ORIGINAL si existe\nconst originalBlock = text.match(/Fecha de Emisión:\\nORIGINAL[\\s\\S]*?(?=\\nFecha de Emisión:\\nDUPLICADO|\\nFecha de Emisión:\\nTRIPLICADO|$)/i);\nif (originalBlock) {\n  text = cleanup(originalBlock[0]);\n}\n\n// ======================================================\n// FUNCIONES DE EXTRACCIÓN ROBUSTA\n// ======================================================\n\nconst findFirstNumberByLabels = (text, labels) => {\n  for (const label of labels) {\n    const safe = escapeRegex(label);\n\n    const patterns = [\n      // label y número en la misma línea\n      new RegExp(`${safe}\\\\s*:?\\\\s*\\\\$?\\\\s*([0-9]{1,3}(?:\\\\.[0-9]{3})*,[0-9]{2}|[0-9]+,[0-9]{2})`, \"i\"),\n\n      // label en una línea y número en la/s siguiente/s\n      new RegExp(`${safe}\\\\s*:?\\\\s*\\\\n+\\\\s*\\\\$?\\\\s*\\\\n*\\\\s*([0-9]{1,3}(?:\\\\.[0-9]{3})*,[0-9]{2}|[0-9]+,[0-9]{2})`, \"i\"),\n    ];\n\n    for (const re of patterns) {\n      const m = text.match(re);\n      if (m) {\n        const n = parseARNumber(m[1]);\n        if (n != null) return n;\n      }\n    }\n  }\n\n  return null;\n};\n\nconst extractTrailingAmountsBlock = (text) => {\n  // Busca los importes sueltos previos a Subtotal/Importe Total\n  const lines = text.split(\"\\n\").map(l => l.trim()).filter(Boolean);\n\n  const idxSubtotalLabel = lines.findIndex(l => /^Subtotal:\\s*\\$?$/i.test(l) || /^Subtotal:/i.test(l));\n  if (idxSubtotalLabel === -1) return [];\n\n  // Miramos unas líneas hacia arriba\n  const prev = lines.slice(Math.max(0, idxSubtotalLabel - 8), idxSubtotalLabel);\n\n  const amounts = prev\n    .map(l => {\n      const m = l.match(/^([0-9]{1,3}(?:\\.[0-9]{3})*,[0-9]{2}|[0-9]+,[0-9]{2})$/);\n      return m ? parseARNumber(m[1]) : null;\n    })\n    .filter(v => v != null);\n\n  return amounts;\n};\n\nconst findCAE = (text) => {\n  const labelMatch = text.match(/CAE\\s*N[°º]?:\\s*\\n?\\s*(\\d{10,})/i);\n  if (labelMatch) return labelMatch[1];\n\n  // fallback: buscar bloque \"Comprobante Autorizado\" y número largo cercano\n  const block = text.match(/Comprobante Autorizado[\\s\\S]{0,120}/i);\n  if (block) {\n    const nums = [...block[0].matchAll(/\\b(\\d{10,})\\b/g)].map(m => m[1]);\n    if (nums.length) return nums[nums.length - 1];\n  }\n\n  return null;\n};\n\nconst findVtoCAE = (text) => {\n  const byLabel =\n    toIsoDate(match1(text, /Fecha de Vto\\.?\\s*de\\s*CAE:\\s*\\n?\\s*(\\d{2}\\/\\d{2}\\/\\d{4})/i)) ||\n    toIsoDate(match1(text, /Vto\\.?\\s*CAE:\\s*\\n?\\s*(\\d{2}\\/\\d{2}\\/\\d{4})/i));\n\n  if (byLabel) return byLabel;\n\n  // fallback: en muchos OCR de C el vencimiento queda debajo de \"Comprobante Autorizado\"\n  const block = text.match(/Comprobante Autorizado[\\s\\S]{0,120}/i);\n  if (block) {\n    const dates = [...block[0].matchAll(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/g)].map(m => m[1]);\n    if (dates.length) return toIsoDate(dates[0]);\n  }\n\n  return null;\n};\n\n// ======================================================\n// TIPO / NÚMERO / FECHA\n// ======================================================\n\nconst tipoComprobante =\n  /FACTURA/i.test(text) ? \"factura\" :\n  /TICKET|RECIBO/i.test(text) ? \"ticket\" :\n  \"desconocido\";\n\nconst tipoFactura =\n  match1(text, /\\nFACTURA\\s*\\n([ABC])\\b/i) ||\n  match1(text, /FACTURA\\s+([ABC])\\b/i) ||\n  match1(text, /\\n([ABC])\\nCOD\\.\\s*\\d+/i) ||\n  null;\n\nlet puntoVenta = null;\nlet compNro = null;\n\n{\n  const m =\n    text.match(/Punto de Venta:\\s*Comp\\.\\s*Nro:\\s*\\n?\\s*(\\d{1,5})\\s+(\\d{1,8})/i) ||\n    text.match(/\\b(\\d{1,5})-(\\d{1,8})\\b/);\n\n  if (m) {\n    puntoVenta = m[1].padStart(5, \"0\");\n    compNro = m[2].padStart(8, \"0\");\n  }\n}\n\nconst numeroFactura = puntoVenta && compNro ? `${puntoVenta}-${compNro}` : null;\n\nconst fecha =\n  toIsoDate(match1(text, /Fecha de Emisión:\\s*\\n(?:ORIGINAL\\n)?[^\\n]*\\n?[^\\n]*\\n?[^\\n]*\\n?[^\\n]*\\n?(\\d{2}\\/\\d{2}\\/\\d{4})/i)) ||\n  toIsoDate(match1(text, /Fecha de Emisión:\\s*\\n?\\s*(\\d{2}\\/\\d{2}\\/\\d{4})/i)) ||\n  firstDate(text);\n\n// ======================================================\n// CUITS\n// ======================================================\n\nconst allCuits = unique(\n  [...text.matchAll(/\\b(\\d{11})\\b/g)].map(m => m[1])\n);\n\n// En estas facturas suele ser:\n// 1er CUIT = proveedor\n// CUIT: xxxxx del bloque final = cliente\nlet proveedorCuit = allCuits[0] || null;\nlet clienteCuit =\n  match1(text, /CUIT:\\s*(\\d{11})/i) || null;\n\n// si el CUIT capturado como cliente es el mismo que proveedor, usar el segundo distinto\nif (!clienteCuit || clienteCuit === proveedorCuit) {\n  clienteCuit = allCuits.find(c => c !== proveedorCuit) || null;\n}\n\n// ======================================================\n// PROVEEDOR\n// ======================================================\n\nconst proveedorNombre =\n  normalizeName(match1(text, /Fecha de Emisión:\\nORIGINAL\\n([^\\n]+)/i)) ||\n  normalizeName(match1(text, /^([^\\n]+)\\n(?:[^\\n]+\\n)?(?:CUIT|C\\.U\\.I\\.T\\.)/im)) ||\n  null;\n\nconst proveedorDireccion =\n  normalizeName(\n    match1(text, /Fecha de Emisión:\\nORIGINAL\\n[^\\n]+\\n([^\\n]+(?:\\n[^\\n]+)?)/i)\n  ) || null;\n\n// ======================================================\n// CLIENTE\n// ======================================================\n\nlet clienteNombre = null;\nlet clienteDireccion = null;\n\n// En estos PDFs el cliente está entre el CUIT del proveedor y \"Contado\"\n{\n  const lines = text.split(\"\\n\").map(l => l.trim()).filter(Boolean);\n\n  const idxProveedorCuit = lines.findIndex(l => onlyDigits(l) === proveedorCuit);\n  const idxContado = lines.findIndex(l => /contado|tarjeta|transferencia/i.test(l));\n\n  if (idxProveedorCuit !== -1 && idxContado !== -1 && idxContado > idxProveedorCuit) {\n    const middle = lines.slice(idxProveedorCuit + 1, idxContado);\n\n    // suele ser: cliente nombre / cliente direccion (1 o 2 líneas)\n    if (middle.length >= 1) clienteNombre = normalizeName(middle[0]);\n    if (middle.length >= 2) clienteDireccion = normalizeName(middle.slice(1).join(\" \"));\n  }\n}\n\n// fallbacks por etiquetas\nclienteNombre =\n  clienteNombre ||\n  normalizeName(match1(text, /Apellido y Nombre\\s*\\/\\s*Razón Social:\\s*\\n?\\s*([^\\n]+)/i)) ||\n  normalizeName(match1(text, /Razón Social:\\s*\\n?\\s*([^\\n]+)/i)) ||\n  null;\n\nclienteDireccion =\n  clienteDireccion ||\n  normalizeName(match1(text, /Domicilio:\\s*\\n?\\s*([^\\n]+)/i)) ||\n  normalizeName(match1(text, /Domicilio Comercial:\\s*\\n?\\s*([^\\n]+)/i)) ||\n  null;\n\n// limpieza de falsos positivos\nif (/^Domicilio:?$/i.test(clienteNombre || \"\")) clienteNombre = null;\nif (/^Razón Social:?$/i.test(clienteNombre || \"\")) clienteNombre = null;\nif (/^Domicilio:?$/i.test(clienteDireccion || \"\")) clienteDireccion = null;\nif (/^Razón Social:?$/i.test(clienteDireccion || \"\")) clienteDireccion = null;\n\n// ======================================================\n// MEDIO DE PAGO / MONEDA\n// ======================================================\n\nconst medioPago =\n  /contado/i.test(text) ? \"contado\" :\n  /tarjeta|crédito|credito|débito|debito/i.test(text) ? \"tarjeta\" :\n  /transferencia/i.test(text) ? \"transferencia\" :\n  null;\n\nconst moneda =\n  /\\bARS\\b/i.test(text) ? \"ARS\" :\n  /\\$\\s*[0-9]/.test(text) ? \"ARS\" :\n  \"ARS\";\n\n// ======================================================\n// ITEMS\n// ======================================================\n\nlet items = [];\n\n{\n  const lines = text.split(\"\\n\").map(l => l.trim());\n\n  const idxHeader = lines.findIndex(l =>\n    /Código Producto \\/ Servicio Cantidad U\\. Medida/i.test(l) ||\n    /Código Producto/i.test(l)\n  );\n\n  const idxSubtotal = lines.findIndex(l => /^Subtotal:/i.test(l));\n\n  if (idxHeader !== -1 && idxSubtotal !== -1 && idxSubtotal > idxHeader) {\n    const itemLines = lines.slice(idxHeader + 2, idxSubtotal).filter(Boolean);\n\n    let i = 0;\n    while (i < itemLines.length) {\n      const line = itemLines[i];\n\n      // buscamos una descripción\n      if (\n        !/^[0-9]+,[0-9]{2}$/.test(line) &&\n        !/^unidades?$/i.test(line) &&\n        !/^[0-9]{1,3}(?:\\.[0-9]{3})*,[0-9]{2}/.test(line)\n      ) {\n        let descripcion = line;\n\n        // si la línea siguiente sigue siendo texto, la anexamos\n        if (\n          i + 1 < itemLines.length &&\n          !/^[0-9]+,[0-9]{2}$/.test(itemLines[i + 1]) &&\n          !/^unidades?$/i.test(itemLines[i + 1]) &&\n          !/^[0-9]{1,3}(?:\\.[0-9]{3})*,[0-9]{2}/.test(itemLines[i + 1])\n        ) {\n          descripcion += \" \" + itemLines[i + 1];\n          i++;\n        }\n\n        let cantidad = null;\n        let precioUnitario = null;\n        let totalItem = null;\n\n        // patrón esperado:\n        // desc\n        // 1,00\n        // unidades\n        // 600000,00 600000,00 0,00\n        const maybeCantidad = itemLines[i + 1];\n        const maybeUnidad = itemLines[i + 2];\n        const maybeMontos = itemLines[i + 3];\n\n        if (/^\\d+[.,]\\d{2}$/.test(maybeCantidad || \"\")) {\n          cantidad = parseARNumber(maybeCantidad);\n        }\n\n        if (/^unidades?$/i.test(maybeUnidad || \"\") && maybeMontos) {\n          const nums = [...maybeMontos.matchAll(/(\\d{1,3}(?:\\.\\d{3})*,\\d{2}|\\d+,\\d{2})/g)].map(m => parseARNumber(m[1]));\n          if (nums.length >= 1) precioUnitario = nums[0];\n          if (nums.length >= 2) totalItem = nums[1];\n        }\n\n        // fallback: si solo hay un monto, total = precio\n        if (precioUnitario != null && totalItem == null) {\n          totalItem = precioUnitario;\n        }\n\n        // solo empujar si de verdad parece item\n        if (descripcion && (precioUnitario != null || totalItem != null)) {\n          items.push({\n            descripcion: normalizeName(descripcion),\n            cantidad: cantidad ?? 1,\n            precio_unitario: precioUnitario,\n            total: totalItem,\n          });\n          i += 3;\n        }\n      }\n\n      i++;\n    }\n  }\n}\n\n// Fallback: si no pudo armar items bien pero hay un solo item simple\nif (!items.length) {\n  const simple = text.match(/([^\\n]+)\\n(\\d+,\\d{2})\\n(?:unidades?)\\n([0-9\\.,]+)\\s+([0-9\\.,]+)/i);\n  if (simple) {\n    items.push({\n      descripcion: normalizeName(simple[1]),\n      cantidad: parseARNumber(simple[2]) ?? 1,\n      precio_unitario: parseARNumber(simple[3]),\n      total: parseARNumber(simple[4]),\n    });\n  }\n}\n\nif (!items.length) {\n  const lines = text.split(\"\\n\").map(l => l.trim()).filter(Boolean);\n\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n\n    // patrón tipo:\n    // 001 Servicio de catering 1,00\n    if (/^\\d+\\s+.+\\s+\\d+,\\d{2}$/.test(line)) {\n      const m = line.match(/^\\d+\\s+(.+)\\s+(\\d+,\\d{2})$/);\n\n      if (m) {\n        const descripcion = normalizeName(m[1]);\n        const cantidad = parseARNumber(m[2]) ?? 1;\n\n        const maybeUnidad1 = lines[i + 1] || \"\";\n        const maybeUnidad2 = lines[i + 2] || \"\";\n        const maybeMontos = lines[i + 3] || \"\";\n\n        // ejemplo:\n        // otras\n        // unidades\n        // 475206,61 0,00 475206,61 21% 575000,00\n        if (/unidades?/i.test(`${maybeUnidad1} ${maybeUnidad2}`) && maybeMontos) {\n          const nums = [...maybeMontos.matchAll(/(\\d{1,3}(?:\\.\\d{3})*,\\d{2}|\\d+,\\d{2})/g)]\n            .map(x => parseARNumber(x[1]))\n            .filter(v => v != null);\n\n          if (nums.length >= 3) {\n            items.push({\n              descripcion,\n              cantidad,\n              precio_unitario: nums[0],\n              total: nums[2], // subtotal neto del item\n            });\n            break;\n          }\n        }\n      }\n    }\n  }\n}\n\n// ======================================================\n// TOTALES\n// ======================================================\n\nlet subtotal =\n  findFirstNumberByLabels(text, [\n    \"Importe Neto Gravado\",\n    \"Neto Gravado\",\n    \"Subtotal\",\n    \"SubTotal\",\n    \"Importe Neto\",\n  ]);\n\nlet iva =\n  findFirstNumberByLabels(text, [\n    \"IVA 21%\",\n    \"IVA 10,5%\",\n    \"IVA 27%\",\n    \"IVA\",\n  ]);\n\nlet otrosImpuestos =\n  findFirstNumberByLabels(text, [\n    \"Importe Otros Tributos\",\n    \"Otros Tributos\",\n    \"Percepción\",\n    \"Percepciones\",\n    \"Impuestos Internos\",\n  ]);\n\nlet total =\n  findFirstNumberByLabels(text, [\n    \"Importe Total\",\n    \"TOTAL\",\n    \"Total\",\n  ]);\n\n// fallback duro para OCR como el tuyo:\n// antes de \"Subtotal:\" aparecen tres montos sueltos:\n// 0,00 / 1400000,00 / 1400000,00\nif (subtotal == null || total == null || otrosImpuestos == null) {\n  const trailing = extractTrailingAmountsBlock(text);\n\n  if (trailing.length >= 3) {\n    // muy común:\n    // [otros, subtotal, total]\n    const maybeOtros = trailing[trailing.length - 3];\n    const maybeSubtotal = trailing[trailing.length - 2];\n    const maybeTotal = trailing[trailing.length - 1];\n\n    if (otrosImpuestos == null) otrosImpuestos = maybeOtros;\n    if (subtotal == null) subtotal = maybeSubtotal;\n    if (total == null) total = maybeTotal;\n  } else if (trailing.length >= 2) {\n    const maybeSubtotal = trailing[trailing.length - 2];\n    const maybeTotal = trailing[trailing.length - 1];\n\n    if (subtotal == null) subtotal = maybeSubtotal;\n    if (total == null) total = maybeTotal;\n  }\n}\n\n// fallback por suma de items\nif (subtotal == null && items.length) {\n  const sumItems = items.reduce((acc, it) => acc + (Number(it.total) || 0), 0);\n  subtotal = Math.round(sumItems * 100) / 100;\n}\n\nif (tipoFactura === \"C\") {\n  if (iva == null) iva = 0;\n  if (subtotal == null && total != null) subtotal = total;\n}\n\nif (otrosImpuestos == null) otrosImpuestos = 0;\n\nif (total == null && subtotal != null) {\n  total = Math.round((subtotal + (iva || 0) + (otrosImpuestos || 0)) * 100) / 100;\n}\n\nif (total == null && subtotal != null) {\n  total = Math.round((subtotal + (iva || 0) + (otrosImpuestos || 0)) * 100) / 100;\n}\n\n// ======================================================\n// CAE / VTO CAE\n// ======================================================\n\nconst cae = findCAE(text);\nconst vtoCAE = findVtoCAE(text);\n\n// ======================================================\n// OUTPUT\n// ======================================================\n\nreturn [{\n  json: {\n    source_type: \"pdf_text\",\n    tipo_comprobante: tipoComprobante,\n    tipo_factura: tipoFactura,\n    numero_factura: numeroFactura,\n    fecha,\n\n    proveedor: {\n      nombre: proveedorNombre,\n      cuit: onlyDigits(proveedorCuit),\n      direccion: proveedorDireccion,\n    },\n\n    cliente: {\n      nombre: clienteNombre,\n      cuit_dni: onlyDigits(clienteCuit),\n      direccion: clienteDireccion,\n    },\n\n    moneda,\n    subtotal,\n    iva,\n    otros_impuestos: otrosImpuestos,\n    total,\n\n    medio_pago: medioPago,\n    cae: cae || null,\n    vto_cae: vtoCAE || null,\n\n    items,\n    raw_text: raw,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        64
      ],
      "id": "acf8669b-a7ce-496b-bfce-3f69b9b49e58",
      "name": "Normalize Extracted PDF Data"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices?.[0]?.message?.content;\n\nif (!raw) {\n  throw new Error(\"No vino contenido en choices[0].message.content\");\n}\n\nconst rawText = String(raw).trim();\n\n// limpiar markdown ```json\nlet cleaned = rawText\n  .replace(/^```json\\s*/i, \"\")\n  .replace(/^```\\s*/i, \"\")\n  .replace(/\\s*```$/i, \"\")\n  .trim();\n\n// extraer solo el objeto JSON\nconst firstBrace = cleaned.indexOf(\"{\");\nconst lastBrace = cleaned.lastIndexOf(\"}\");\n\nif (firstBrace === -1 || lastBrace === -1 || lastBrace <= firstBrace) {\n  throw new Error(`No encontré un objeto JSON válido.\\n${rawText}`);\n}\n\ncleaned = cleaned.slice(firstBrace, lastBrace + 1).trim();\n\nlet data;\n\n// intento de parse\ntry {\n  data = JSON.parse(cleaned);\n} catch (e) {\n\n  // intento de reparación automática\n  let repaired = cleaned\n    .replace(/,\\s*}/g, \"}\")\n    .replace(/,\\s*]/g, \"]\")\n    .replace(/}\\s*{/g, \"},{\")\n    .replace(/\"\\s*\\n\\s*\"/g, '\",\"')\n    .replace(/(\\d)\\s*\\n\\s*\"/g, '$1,\"');\n\n  try {\n    data = JSON.parse(repaired);\n  } catch (e2) {\n    throw new Error(\n      `JSON inválido incluso después de intentar repararlo:\\n${cleaned}`\n    );\n  }\n}\n\n// helpers\nconst cleanText = (v) => {\n  if (v === undefined || v === null || v === \"\") return null;\n  return String(v).trim().toLowerCase();\n};\n\nconst cleanUpper = (v) => {\n  if (v === undefined || v === null || v === \"\") return null;\n  return String(v).trim().toUpperCase();\n};\n\nconst cleanNumber = (v) => {\n  if (v === undefined || v === null || v === \"\") return 0;\n  const n = Number(String(v).replace(\",\", \".\"));\n  return Number.isFinite(n) ? n : 0;\n};\n\nconst cleanId = (v) => {\n  if (!v) return null;\n  const digits = String(v).replace(/\\D/g, \"\");\n  return digits || null;\n};\n\nconst cleanDate = (v) => {\n  if (!v) return null;\n  return String(v).trim();\n};\n\n// items\nconst items = Array.isArray(data.items)\n  ? data.items.map((i) => ({\n      descripcion: cleanText(i.descripcion),\n      cantidad: cleanNumber(i.cantidad),\n      precio_unitario: cleanNumber(i.precio_unitario),\n      total: cleanNumber(i.total),\n    }))\n  : [];\n\n// clave para evitar duplicados\nconst dedupe_key = [\n  cleanId(data.proveedor?.cuit),\n  data.numero_factura ? String(data.numero_factura).trim() : null,\n  cleanDate(data.fecha),\n  cleanNumber(data.total),\n]\n  .filter(Boolean)\n  .join(\"_\");\n\n// normalizacion de medio de pago\nconst normalizeMedioPago = (v) => {\n  if (!v) return 1; // default automático\n\n  const val = String(v).toLowerCase();\n\n  if (val.includes(\"efectivo\") || val.includes(\"contado\")) return 1;\n\n  if (\n    val.includes(\"debito\") ||\n    val.includes(\"credito\") ||\n    val.includes(\"transferencia\") ||\n    val.includes(\"banco\") ||\n    val.includes(\"mp\") ||\n    val.includes(\"mercado pago\")\n  ) return 2;\n\n  return 1; // fallback seguro\n};\n\nconst normalized = {\n  tipo_comprobante: cleanText(data.tipo_comprobante),\n  tipo_factura: cleanUpper(data.tipo_factura),\n  numero_factura: data.numero_factura ? String(data.numero_factura).trim() : null,\n  fecha: cleanDate(data.fecha),\n\n  proveedor_nombre: cleanText(data.proveedor?.nombre),\n  proveedor_cuit: cleanId(data.proveedor?.cuit),\n  proveedor_direccion: cleanText(data.proveedor?.direccion),\n\n  cliente_nombre: cleanText(data.cliente?.nombre),\n  cliente_cuit_dni: cleanId(data.cliente?.cuit_dni),\n\n  moneda: cleanUpper(data.moneda) || \"ARS\",\n\n  subtotal: cleanNumber(data.subtotal),\n  iva: cleanNumber(data.iva),\n  otros_impuestos: cleanNumber(data.otros_impuestos),\n  total: cleanNumber(data.total),\n\n  medio_pago: normalizeMedioPago(data.medio_pago),\n\n  cantidad_items: items.length,\n  items,\n  dedupe_key,\n};\n\nreturn [{ json: normalized }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        224
      ],
      "id": "f71988de-7624-410d-8525-ad515fe677fa",
      "name": "Normalize Extracted Image Data"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2128,
        144
      ],
      "id": "8dace971-2cc7-4097-b725-c1f6882712c6",
      "name": "Telegram Trigger",
      "webhookId": "25c4dd4d-c38d-473a-a7f5-784480aa3c5f",
      "credentials": {
        "telegramApi": {
          "id": "MVbOOTdhDALG2ezE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "el tipo de mensaje es erroneo",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1216,
        368
      ],
      "id": "5d7f3d22-76a1-48a5-8799-8883e53351ef",
      "name": "respuesta_rechazo",
      "webhookId": "cedad258-eaa6-48ac-b730-84997056d6f7",
      "credentials": {
        "telegramApi": {
          "id": "MVbOOTdhDALG2ezE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('parsear_mensajes_telegram').item.json.telegram_file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        224
      ],
      "id": "7ce41c8a-8b4b-43dd-9c9b-7dd710c17d9d",
      "name": "descargar_imagen",
      "webhookId": "e54ccc01-ec57-44e3-b4cf-f946acfc516f",
      "credentials": {
        "telegramApi": {
          "id": "MVbOOTdhDALG2ezE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Commmit API\n",
        "height": 704,
        "width": 2016,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2880,
        -16
      ],
      "typeVersion": 1,
      "id": "faece153-22f3-4cf9-a7f2-3c24c8eac5ba",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('parsear_mensajes_telegram').item.json.telegram_file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3904,
        320
      ],
      "id": "55316daa-740a-44bd-9983-040166d85dc3",
      "name": "descargar_archivo_item",
      "webhookId": "e54ccc01-ec57-44e3-b4cf-f946acfc516f",
      "credentials": {
        "telegramApi": {
          "id": "MVbOOTdhDALG2ezE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b00ae006-54ea-423d-a739-9339fa6ed398",
              "leftValue": "={{ $('Normalizacion').item.json.normalized_kind }}",
              "rightValue": "manual",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3312,
        192
      ],
      "id": "55b61057-9e2b-4cc8-b890-8ae2c90e2f71",
      "name": "hay un file?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Hubo un problema para subir el archivo a la rendision",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4528,
        416
      ],
      "id": "364a064d-478c-4000-8742-0f12d30db10b",
      "name": "error_subida_archivo",
      "webhookId": "971b15f0-59fd-4aa2-a4ce-8726da7eeb91",
      "credentials": {
        "telegramApi": {
          "id": "MVbOOTdhDALG2ezE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NBAZRA9cSRTuaY11B0nAs0Rz2dtntvGk9VXX40FcN_A",
          "mode": "list",
          "cachedResultName": "user-demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NBAZRA9cSRTuaY11B0nAs0Rz2dtntvGk9VXX40FcN_A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1072227579,
          "mode": "list",
          "cachedResultName": "Hoja 5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NBAZRA9cSRTuaY11B0nAs0Rz2dtntvGk9VXX40FcN_A/edit#gid=1072227579"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -848,
        112
      ],
      "id": "f77ddb0a-819d-426d-a9df-51c5e01c39e5",
      "name": "obtener_rendiciones_pendientes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X9RzWqukg9OFpJYv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('tiene_contenido_valido').item.json.chat_id }}",
        "text": "este no va",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -368,
        160
      ],
      "id": "06519aa9-0fd4-4b14-b5ff-1732584ebb9e",
      "name": "resumen_rendiciones",
      "webhookId": "cedad258-eaa6-48ac-b730-84997056d6f7",
      "credentials": {
        "telegramApi": {
          "id": "MVbOOTdhDALG2ezE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0c6fa94c-e62c-4f24-a5ae-4d8ca0fd23da",
              "leftValue": "={{ $json.message_allowed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1056,
        128
      ],
      "id": "cdbf67dd-8668-4f89-b4d6-1d0384e34849",
      "name": "tiene_contenido_valido"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b7a498f0-aef3-4107-be08-92b8a0bae2cc",
              "leftValue": "={{ $('tiene_contenido_valido').item.json.user_id }}",
              "rightValue": "={{ $json.telegram_user_id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -384,
        400
      ],
      "id": "bd0b72ef-80c5-4023-b840-f14a916d45aa",
      "name": "es_del_usuario"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('parsear_mensajes_telegram').item.json.telegram_file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        64
      ],
      "id": "2800e514-8118-4691-80ff-ef3fd3eb8adf",
      "name": "descargar_pdf",
      "webhookId": "e54ccc01-ec57-44e3-b4cf-f946acfc516f",
      "credentials": {
        "telegramApi": {
          "id": "MVbOOTdhDALG2ezE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Analiza una imagen o PDF de una factura, ticket o comprobante argentino.\n\nTu tarea es extraer los datos fiscales y monetarios con MAXIMA PRECISION.\n\nDebes devolver SOLO JSON valido.\n\n==================================================\nPRIORIDAD ABSOLUTA\n==================================================\n\nLa prioridad principal es leer correctamente:\n\n- importes por item\n- subtotal\n- iva\n- total final\n\nSi hay conflicto entre texto y numeros, prioriza la consistencia matematica del comprobante.\n\n==================================================\nREGLAS DE LECTURA NUMERICA (MUY IMPORTANTE)\n==================================================\n\nEl documento usa formato argentino.\n\nInterpretacion obligatoria:\n- 1.454,54 = 1454.54\n- 1.514,70 = 1514.70\n- 20.751,99 = 20751.99\n- 28.702,69 = 28702.69\n\nReglas:\n- el punto separa miles\n- la coma separa decimales\n- nunca transformar 1.514,70 en 15174.00\n- nunca mover la coma de lugar\n- nunca eliminar decimales reales\n- siempre convertir a number con punto decimal\n\n==================================================\nLECTURA DE ITEMS\n==================================================\n\nLos items SOLO deben salir de la tabla de productos.\n\nCada fila real de la tabla = un item.\n\nColumnas posibles:\n- Codigo\n- Cantidad\n- Descripcion\n- P.Unit\n- Desc.%\n- PU.Desc\n- P.Total\n\nExtraer por fila:\n\n- descripcion = texto de la descripcion de esa fila\n- cantidad = valor de cantidad\n- precio_unitario = P.Unit si existe, si no PU.Desc si es el precio efectivo\n- total = P.Total si existe; si no, PU.Desc o precio_unitario * cantidad solo si es claro\n\nREGLAS:\n- no inventar items\n- no duplicar items\n- no unir dos filas en una\n- no cortar una descripcion y mezclarla con otra\n- no usar subtotal o total general como item\n- si una linea no tiene importe claro, ignorarla\n\n==================================================\nVALIDACION MATEMATICA OBLIGATORIA\n==================================================\n\nLuego de extraer los items, verificar:\n\n1. suma_items = suma de todos los totales de items\n2. comparar suma_items con subtotal o con total segun corresponda\n\nSi un item parece mal leido por un error de miles/decimales y rompe la suma:\n- revisar primero si hubo confusion entre 1.514,70 y 15.174,00\n- revisar si un importe fue desplazado por un cero o por un separador\n- elegir la lectura que mantenga coherencia con el subtotal y total del comprobante\n\nEjemplo de correccion valida:\n- si subtotal es 23721.23\n- y dos items dan 20751.99 y 1454.54\n- el tercer item NO puede ser 15174.00\n- debe ser 1514.70 si asi la suma coincide con el subtotal\n\n==================================================\nIMPORTES GENERALES\n==================================================\n\nPrioridad:\n1. Total final impreso en el comprobante\n2. Subtotal impreso\n3. IVA impreso\n4. Otros impuestos impresos\n\nSi estan claros en el documento, NO calcularlos.\nSolo calcular si faltan.\n\nSi hay inconsistencia:\n- conservar el total final detectado\n- ajustar solo interpretaciones dudosas de items si la tabla lo permite\n- no inventar impuestos\n\n==================================================\nIDENTIFICACION DE MEDIO DE PAGO\n==================================================\n\nSi aparece:\n- Contado -> efectivo\n- Debito -> debito\n- Credito -> credito\n- Transferencia -> transferencia\n- Cuenta corriente -> cuenta_corriente\n\n==================================================\nFORMATO DE SALIDA\n==================================================\n\n{\n  \"tipo_comprobante\": \"factura\" | \"ticket\" | \"recibo\" | \"desconocido\",\n  \"tipo_factura\": \"A\" | \"B\" | \"C\" | null,\n  \"numero_factura\": string | null,\n  \"fecha\": \"YYYY-MM-DD\" | null,\n\n  \"proveedor\": {\n    \"nombre\": string | null,\n    \"cuit\": string | null,\n    \"direccion\": string | null\n  },\n\n  \"cliente\": {\n    \"nombre\": string | null,\n    \"cuit_dni\": string | null\n  },\n\n  \"moneda\": \"ARS\" | \"USD\" | \"EUR\" | null,\n\n  \"subtotal\": number | null,\n  \"iva\": number | null,\n  \"otros_impuestos\": number | null,\n  \"total\": number | null,\n\n  \"medio_pago\": \"efectivo\" | \"debito\" | \"credito\" | \"transferencia\" | \"cuenta_corriente\" | null,\n\n  \"items\": [\n    {\n      \"descripcion\": string,\n      \"cantidad\": number | null,\n      \"precio_unitario\": number | null,\n      \"total\": number | null\n    }\n  ]\n}\n\n==================================================\nREGLAS FINALES\n==================================================\n\n- usar null si un campo no aparece\n- no usar tildes en strings normalizados si no es necesario\n- redondear a 2 decimales\n- devolver solo JSON valido\n- no agregar texto fuera del JSON\n\n==================================================\nREGLAS DE CONFIANZA Y RECHAZO\n==================================================\n\nSi los importes no pueden leerse con suficiente claridad, NO inventes ni aproximes.\n\nMarcar como invalido o incompleto cuando ocurra cualquiera de estos casos:\n\n- el total de un item parece truncado o desplazado en decimales\n- un importe de item es demasiado pequeño respecto al subtotal o total y no tiene sentido matematico\n- los importes de items no guardan coherencia con subtotal, iva o total\n- la imagen esta demasiado borrosa, oscura, inclinada o con bajo contraste\n- hay texto fiscal legible pero los importes numericos no son confiables\n\nSi no hay confianza suficiente en los importes:\n- conservar los campos generales que si sean legibles\n- dejar en null los importes dudosos\n- no inventar centavos ni redondeos arbitrarios\n- no completar items con valores aproximados\n\nAgregar ademas este campo:\n\n\"confianza_importes\": \"alta\" | \"media\" | \"baja\",\n\"requiere_revision\": true | false,\n\"motivo_revision\": string | null\n\nRegla:\n- si confianza_importes = \"baja\", entonces requiere_revision = true\n- si algun importe clave es ilegible o inconsistente, requiere_revision = true",
        "inputType": "base64",
        "simplify": false,
        "options": {
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        704,
        224
      ],
      "id": "241c579a-0ae3-485e-9854-5b6b1207d9ed",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "1BbfIiWLJauRYf7i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        704,
        64
      ],
      "id": "9408788e-cf5a-4a23-ac25-324d31f7f907",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -592,
        112
      ],
      "id": "112d3219-f8e9-4fe9-82ca-bc9f13492c8e",
      "name": "iterar_rendiciones"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -368,
        32
      ],
      "id": "ae57ca10-c4be-44a8-8dab-2d39755c3ffd",
      "name": "agregar_rendiciones"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://restprueba.madelan.com.ar/edp/v1.3/rendicion",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "descripcion",
              "value": "={{ $json.proveedor?.nombre || $('Separador por categorias.').item.json.descripcion_general }}"
            },
            {
              "name": "tipo_pago",
              "value": "={{ $json.medio_pago || $('Separador por categorias.').item.json.medio_pago}}"
            },
            {
              "name": "nro_legajo",
              "value": "123"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3120,
        192
      ],
      "id": "42c37d10-56f6-423d-922c-3dfa8efcea60",
      "name": "crear_rendicion",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VY36SSbeDS11wJf9",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://restprueba.madelan.com.ar/edp/v1.3/rendicion/{{ $('crear_rendicion').item.json.idrendicion }}/enviar",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4432,
        176
      ],
      "id": "50c102d5-4cff-48a4-ae02-a7f404eae7a1",
      "name": "enviar_rendicion",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VY36SSbeDS11wJf9",
          "name": "Header Auth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const nueva = $('Normalize Extracted Text Data').first().json.output;\n\nfunction normalizeText(v) {\n  return String(v || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction normalizeNumber(v) {\n  if (v === undefined || v === null || v === '') return '';\n  const n = Number(String(v).replace(',', '.').trim());\n  return Number.isFinite(n) ? n.toFixed(2) : '';\n}\n\nconst nueva_rendicion = {\n  employee_id: String($json.employee_id || $('Normalizacion').first().json.employee_id || '').trim(),\n  descripcion: normalizeText(nueva.descripcion_general),\n  total: normalizeNumber(nueva.importe_total ?? nueva.total),\n};\n\nconst rendiciones_existentes = $input.all();\n\nlet duplicado = false;\nlet match = null;\n\nfor (const item of rendiciones_existentes) {\n  const r = item.json;\n\n  const existente = {\n    employee_id: String(r[\"employee_id\"] || r[\"Employee ID\"] || '').trim(),\n    descripcion: normalizeText(r[\"Descripcion\"] || r[\"Descripción\"] || r[\"descripcion\"] || ''),\n    total: normalizeNumber(r[\"Total\"] || r[\"total\"] || ''),\n  };\n\n  if (\n    existente.employee_id === nueva_rendicion.employee_id &&\n    existente.descripcion === nueva_rendicion.descripcion &&\n    existente.total === nueva_rendicion.total\n  ) {\n    duplicado = true;\n    match = r;\n    break;\n  }\n}\n\nreturn [\n  {\n    json: {\n      duplicate: duplicado,\n      nueva_rendicion,\n      match,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        592
      ],
      "id": "8a766421-4d12-4c4e-ab21-c009c58aca4c",
      "name": "idempotencia text code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -64,
        512
      ],
      "id": "4468b647-8de2-452c-ae4a-1d293406ef31",
      "name": "descarte_tipo_desconocido"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sos una persona del área de administración que ayuda a empleados a cargar rendiciones de gastos por chat.\n\nTu trabajo es conversar como una persona real, de forma natural, breve y útil, para ayudar al empleado a cargar el gasto sin vueltas.\n\nTu objetivo principal es que la conversación avance bien y que el usuario pueda resolver lo que quiere hacer, especialmente cargar una rendición o entender cómo cargarla.\n\nNunca respondas como sistema, bot, formulario, instructivo automático ni soporte técnico frío.\n\n==================================================\nREGLA CRÍTICA: EJECUCIÓN VS CONVERSACIÓN\n==================================================\n\nEste flujo es SOLO conversacional.\n\nAunque el usuario mande todos los datos correctos:\n- vos NO estás cargando la rendición\n- vos NO ejecutás ninguna acción real\n\nLa carga real ocurre en OTRO flujo (rendicion_manual).\n\nPor lo tanto:\n\n❌ Nunca digas:\n- \"lo cargo\"\n- \"lo cargué\"\n- \"ya quedó\"\n- \"listo\"\n- \"ya está cargado\"\n- \"lo subí\"\n\n❌ Nunca simules que una acción ocurrió\n\n---\n\n✔ En su lugar, podés:\n\n- confirmar que el formato está bien\n- decir que con eso se puede cargar\n- indicar que ya está listo para ser procesado\n\nEjemplos correctos:\n\n- \"Perfecto, así está bien armado.\"\n- \"Con eso alcanza.\"\n- \"Está bien separado así.\"\n- \"Así como lo mandaste sirve.\"\n- \"Está listo para cargarse.\"\n\n---\n\nREGLA DE ORO:\n\nVos ayudás a preparar la rendición,  \npero nunca sos quien la carga.\n\n==================================================\nDATOS DE CONTEXTO\n==================================================\n\nMensaje actual del usuario:\n{{ $('chat o rendicion?').item.json.raw_text }}\n\n¿Es una conversación nueva?\n{{ $json.is_new_conversation }}\n\nÚltimo mensaje registrado del usuario:\n{{ $('obtener_conversacion').item.json.last_message }}\n\nÚltimo mensaje registrado tuyo:\n{{ $('obtener_conversacion').item.json.bot_last_message }}\n\n==================================================\nREGLA CENTRAL DE COMPORTAMIENTO\n==================================================\n\nPrimero entendé qué está preguntando o diciendo el usuario en ESTE mensaje.\n\nDespués respondé de forma directa y humana.\n\nNo des una explicación general si el usuario hizo una pregunta puntual.\n\nNo reinicies la conversación si ya estaba empezada.\n\nNo hagas preguntas innecesarias.\n\nNo repitas instrucciones ya implícitas en el contexto.\n\nSi el contexto previo sirve para entender de qué habla, usalo.\n\nSi el contexto previo no sirve o no aplica, priorizá el mensaje actual.\n\n==================================================\nREGLA CRÍTICA: NO INTERPRETAR PARA CARGAR\n==================================================\n\nSi el usuario manda un gasto de forma ambigua, apurada, mezclada o poco separada, no lo des por válido aunque parezca que más o menos se entiende.\n\nTu criterio no es \"creo que entendí\".\nTu criterio es: \"esto quedó suficientemente claro como para que se pueda cargar sin inventar nada\".\n\nSi NO está completamente claro:\n- no lo conviertas vos en una versión final\n- no repitas tu interpretación como si ya sirviera\n- no avances como si ya estuviera resuelto\n\nEn ese caso, hacé solo una de estas dos cosas:\n\n1. pedir que lo reenvíe más claro\n2. mostrarle un ejemplo de cómo debería mandarlo\n\nIMPORTANTE:\nsi mostrás una reformulación, tiene que quedar clarísimo que es un ejemplo de cómo reenviarlo, no una interpretación cerrada ni una carga real.\n\nEjemplo correcto:\n\"Mandámelo así, separado para evitar errores: taxi 19000; comida 20000\"\n\nEjemplo incorrecto:\n\"Perfecto, así está bien: taxi 19000 y comida 20000\"\n\nPorque en el incorrecto estás validando una interpretación tuya.\n\n==================================================\nCÓMO USAR EL CONTEXTO DE CONVERSACIÓN\n==================================================\n\nTené en cuenta estas variables:\n\nis_new_conversation = {{ $json.is_new_conversation }}\n\nlast_message = {{ $('obtener_conversacion').item.json.last_message }}\n\nbot_last_message = {{ $('obtener_conversacion').item.json.bot_last_message }}\n\nReglas:\n\n1. Si is_new_conversation = true:\n- podés arrancar la charla normal\n- si el usuario solo saluda, respondé como apertura breve\n- si el usuario ya pregunta algo puntual, respondé directamente eso y no metas una bienvenida innecesaria\n\n2. Si is_new_conversation = false:\n- la conversación ya venía de antes\n- no saludes\n- no arranques de cero\n- no vuelvas a explicar todo\n- usá last_message y bot_last_message para entender el contexto previo\n- respondé como alguien que ya viene hablando con el usuario\n\n3. Si el mensaje actual depende del anterior, usá el anterior para completar el sentido\n\nEjemplo:\nlast_message = \"quiero cargar unos taxis\"\nmensaje actual = \"los de ayer\"\n\nInterpretación correcta:\nestá hablando de taxis, no de otra cosa.\n\n4. Si el usuario ya venía hablando de un gasto concreto, no vuelvas a preguntar algo genérico como:\n- \"¿qué gasto querés cargar?\"\n- \"¿qué fue?\"\nsi eso ya se entiende por contexto.\n\n5. Si el mensaje actual cambia el tema, seguí el mensaje actual.\n\n6. También tené en cuenta tu último mensaje (bot_last_message)\n\n- No te contradigas\n- No repitas lo mismo\n- Si el usuario responde a algo que vos pediste, avanzá\n\nEjemplo:\nbot_last_message = \"Pasame cuánto salió\"\nmensaje actual = \"25 mil\"\n\nRespuesta correcta:\n\"Dale, lo cargo así.\"\n\nNO repitas:\n\"Pasame cuánto salió\"\n\n7. Evitá loops (REGLA FUERTE)\n\n- Nunca repitas el mismo mensaje o una variante casi igual al anterior.\n- Si ya pediste algo y el usuario no respondió exactamente eso, cambiá la forma de preguntar.\n- No copies la misma estructura, ni el mismo ejemplo, ni la misma frase.\n\nEn lugar de repetir, hacé una de estas cosas:\n- simplificar la pregunta\n- cambiar el wording\n- avanzar con lo que sí dijo el usuario\n- destrabar la conversación\n\nEjemplo:\n\nMal (loop):\n\"Dale, pasame el gasto...\"\n\"Dale, pasame el gasto...\"\n\nBien:\n\"Decime qué gastaste y listo.\"\no\n\"¿Qué fue y cuánto salió?\"\n\n==================================================\nFORMA DE HABLAR\n==================================================\n\nRespondé siempre:\n- natural\n- breve\n- clara\n- directa\n- como una persona real en un chat laboral normal\n\nTu tono tiene que sonar humano, cercano y útil.\n\nEjemplos de tono correcto:\n- \"Sí, pasámelo así nomás.\"\n- \"Dale, con eso alcanza.\"\n- \"No pasa nada, mandámelo manual.\"\n- \"Sí, se puede cargar igual.\"\n- \"Si después conseguís el comprobante, me lo pasás.\"\n- \"Con decirme qué fue y cuánto salió ya está.\"\n- \"Dale, decime el gasto y el importe.\"\n\nNunca hables como:\n- bot\n- sistema\n- soporte técnico\n- instructivo largo\n- formulario\n\nNunca uses frases como:\n- \"su solicitud fue procesada\"\n- \"el sistema detectó\"\n- \"campos obligatorios\"\n- \"formato inválido\"\n- \"no se pudo procesar\"\n- \"ingrese los datos\"\n- \"se ha registrado\"\n\nCuando ofrezcas opciones para continuar (por ejemplo, reenviar el texto o adjuntar comprobante), nunca formules la pregunta como si vos pudieras hacer la acción.\n\nEvitá frases como:\n- \"¿lo mando así?\"\n- \"¿lo envío así?\"\n\nSiempre pedí una acción del usuario, por ejemplo:\n- \"¿Me lo reenviás así o me adjuntás un comprobante?\"\n- \"¿Preferís reenviármelo así o mandarme el comprobante?\"\n- \"Si querés seguir por manual, reenviámelo así. Si no, adjuntame el comprobante.\"\n\nLa pregunta final siempre tiene que implicar que el usuario hace la acción, no vos.\n\n==================================================\nPRIORIDAD DE RESPUESTA\n==================================================\n\nSiempre seguí este orden mental:\n\n1. respetar tipo_texto\n2. entender qué quiso decir el usuario\n3. detectar si pregunta algo puntual\n4. responder exactamente eso\n5. recién después, si hace falta, guiarlo para seguir\n\nNunca hagas al revés.\n\nSi el usuario todavía no dio datos concretos del gasto, no te adelantes a explicar opciones ni formatos.\n\nPrimero pedí la información mínima.\n\n==================================================\nQUÉ SABÉS SOBRE CÓMO SE CARGA UNA RENDICIÓN\n==================================================\n\nUna rendición se puede cargar de dos formas:\n\n1. con comprobante\n   - foto\n   - PDF\n\n2. manualmente por chat\n\nPara cargarla manualmente tiene que quedar claro, sin ambigüedad:\n- qué fue cada gasto\n- cuánto salió cada gasto\n\nEjemplos válidos:\n- \"taxi 18000\"\n- \"almuerzo 24500\"\n- \"peaje 1200\"\n- \"café 3200\"\n- \"viáticos 17000\"\n\nNo hace falta un formato rígido, pero sí tiene que quedar clara la separación entre los gastos y el importe de cada uno.\n\nNo hace falta comprobante si el usuario no lo tiene.\n\nSi el usuario no tiene comprobante, explicale la opción manual y listo.\n\nEste chat está pensado para ayudar a cargar gastos y responder dudas básicas.\n\nNo está pensado para editar rendiciones ya cargadas, borrar cargas anteriores, aprobar gastos, gestionar reembolsos, adelantos ni resolver políticas internas definitivas.\n\n==================================================\nLÍMITES REALES DE LO QUE PODÉS HACER\n==================================================\n\nSolo podés ayudar a:\n\n- responder dudas sobre cómo cargar una rendición\n- pedir o recibir datos para cargar un gasto\n- guiar al usuario para cargarlo manualmente por chat\n\nNo podés:\n\n- editar rendiciones ya cargadas\n- borrar rendiciones\n- iniciar reembolsos\n- iniciar adelantos\n- aprobar o rechazar gastos\n- confirmar políticas o plazos exactos\n- asignar centros de costo por tu cuenta\n- hacer acciones fuera de este chat\n\nSi el usuario pide algo de eso:\n\n- respondé claro\n- no inventes\n- no prometas\n\nEjemplos:\n\n- \"Desde acá te ayudo a cargar gastos, pero no a editar una rendición ya subida.\"\n- \"Eso no lo gestiono desde este chat.\"\n- \"Con eso no te quiero mandar fruta: desde acá te ayudo a cargarlo, pero no a borrar uno ya cargado.\"\n\n==================================================\nREGLAS PARA EVITAR ERRORES\n==================================================\n\n1. No arranques con \"Perfecto\" si el usuario solo saludó.\n2. No preguntes lo que ya se sabe.\n3. No repitas preguntas.\n4. No reinicies la conversación.\n5. No inventes capacidades.\n6. No prometas acciones que no existen.\n7. Si el usuario dice \"está bien así\" o \"interpretaste bien\":\n\n- NO avances con acciones\n- NO confirmes carga\n- SOLO validá el formato o indicá el siguiente paso\n\nEjemplo correcto:\n\"Sí, así está perfecto.\"\n\nEjemplo incorrecto:\n\"Perfecto, lo cargué así\"\n\n8. Usá el formato estructurado (explicación + ejemplo + pregunta final) SOLO cuando sea necesario ordenar o aclarar un mensaje con varios gastos o potencial confusión.\n\nNO lo uses siempre.\n\nUsalo cuando:\n- hay varios gastos en un mismo mensaje\n- el mensaje está mezclado o poco claro\n- querés mostrar cómo debería reenviarlo correctamente\n\nNO lo uses cuando:\n- el usuario recién inicia la conversación\n- el mensaje es simple (un solo gasto claro)\n- el usuario hizo una pregunta puntual\n- no hace falta reordenar nada\n\nEn los casos simples, respondé directo y natural, sin meter ejemplo ni estructura.\n\nCuando sí lo uses, mantené este formato:\n\n- breve introducción natural\n- ejemplo claro en una sola línea\n- una sola pregunta final\n\nEjemplo:\n\n\"Dale, podés hacerlo de dos formas: adjuntás comprobantes (fotos/PDF) o me lo reenviás manual exactamente así para evitar errores:\n\nalmuerzo 20000; nafta 80000; peaje 1000; peaje 1000\n\nCon eso alcanza. ¿Me lo reenviás así o preferís adjuntar los comprobantes?\"\n\nReglas obligatorias:\n- no agregues más de una pregunta\n- no agregues nada después de la pregunta\n- no pidas confirmaciones innecesarias\n- no deformes el ejemplo\n\nEl ejemplo SIEMPRE debe ir en una línea separada, con espacio antes y después.\n\nNunca lo mezcles en la misma línea que la explicación.\n\nFormato obligatorio:\n\ntexto introductorio\n\nejemplo en una sola línea\n\ncierre con la pregunta\n\nEjemplo correcto:\n\n\"Dale, podés hacerlo de dos formas: adjuntás comprobantes (fotos/PDF) o me lo reenviás manual así para evitar errores:\n\nalmuerzo 24500; taxi 18000; peaje 1200\n\n¿Me lo reenviás así o preferís adjuntar los comprobantes?\"\n\nNunca uses el formato estructurado ni ofrezcas opciones (manual vs comprobante) si el usuario todavía no mandó ningún gasto.\n\nEn ese caso, solo pedí la información básica para avanzar.\n\nEjemplo:\n\"Dale, pasame qué fue el gasto y cuánto salió.\"\n==================================================\nOBJETIVO FINAL\n==================================================\n\nTu objetivo no es explicar el sistema.\n\nTu objetivo es ayudar al usuario a avanzar en la charla y cargar la rendición de la forma más simple posible.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        880,
        512
      ],
      "id": "d5765ad0-b625-4e87-bb67-41f9b23edef8",
      "name": "agente_chat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        880,
        656
      ],
      "id": "2de84cc2-df2e-4e65-ba39-14ec8ae6c3e2",
      "name": "modelo_chat_conversacional",
      "credentials": {
        "openAiApi": {
          "id": "1BbfIiWLJauRYf7i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        512
      ],
      "id": "df34306d-7c2f-481a-8ffa-0aa370fba47c",
      "name": "respuesta_chat",
      "webhookId": "511248a5-e761-4c0b-a207-af7f96effeac",
      "credentials": {
        "telegramApi": {
          "id": "MVbOOTdhDALG2ezE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const norm = $('Normalizacion').first().json;\n\nconst rawText =\n  norm.message?.text ||\n  norm.text ||\n  norm.body ||\n  norm.mensaje ||\n  '';\n\nconst text = String(rawText)\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst textLower = text.toLowerCase();\n\nreturn [\n  {\n    json: {\n      ...$json,     // mantiene lo que viene del flujo actual\n      ...norm,      // agrega lo de Normalizacion\n      raw_text: rawText,\n      text,\n      text_lower: textLower,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        432
      ],
      "id": "5dcf9217-a3a9-4ef9-95c5-7441808c6fa3",
      "name": "normalizar texto"
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.text || '').trim();\nconst lower = ($json.text_lower || text.toLowerCase()).trim();\n\nfunction matchesAny(patterns, value) {\n  return patterns.some(r => r.test(value));\n}\n\nconst saludoPatterns = [\n  /\\bhola\\b/,\n  /\\bbuenas\\b/,\n  /\\bbuen dia\\b/,\n  /\\bbuen día\\b/,\n  /\\bque tal\\b/,\n  /\\bqué tal\\b/,\n  /\\bcomo va\\b/,\n  /\\bcómo va\\b/,\n  /\\bche\\b/,\n  /\\bholis\\b/,\n  /\\bey\\b/,\n  /\\bahi va\\b/,\n  /\\bahí va\\b/\n];\n\nconst consultaPatterns = [\n  /como funciona/,\n  /cómo funciona/,\n  /que tengo que mandar/,\n  /qué tengo que mandar/,\n  /como cargo/,\n  /cómo cargo/,\n  /que formato/,\n  /qué formato/,\n  /que hay que poner/,\n  /qué hay que poner/,\n  /no tengo el comprobante/,\n  /sin comprobante/,\n  /que puedo hacer/,\n  /qué puedo hacer/,\n  /quiero cargar una rendicion/,\n  /quiero cargar una rendición/,\n  /como hago/,\n  /cómo hago/,\n  /te paso/,\n  /sirve si te mando/,\n  /puedo mandar/\n];\n\nconst expenseDescriptionPatterns = [\n  /\\btaxi\\b/,\n  /\\btaxis\\b/,\n  /\\buber\\b/,\n  /\\bubers\\b/,\n  /\\bremis\\b/,\n  /\\bremises\\b/,\n  /\\bnafta\\b/,\n  /\\bcombustible\\b/,\n  /\\bpeaje\\b/,\n  /\\bpeajes\\b/,\n  /\\bestacionamiento\\b/,\n  /\\balmuerzo\\b/,\n  /\\balmuerzos\\b/,\n  /\\bcena\\b/,\n  /\\bdesayuno\\b/,\n  /\\bcafe\\b/,\n  /\\bcafes\\b/,\n  /\\bcafés\\b/,\n  /\\bcomida\\b/,\n  /\\bmeriendas?\\b/,\n  /\\bmerienda\\b/,\n  /\\bhotel\\b/,\n  /\\bhospedaje\\b/,\n  /\\balojamiento\\b/,\n  /\\bpapeleria\\b/,\n  /\\bpapelería\\b/,\n  /\\blibreria\\b/,\n  /\\blibrería\\b/,\n  /\\bviatico\\b/,\n  /\\bviaticos\\b/,\n  /\\bviáticos\\b/,\n  /\\bremate\\b/,\n  /\\binsumo\\b/,\n  /\\binsumos\\b/,\n  /\\bgasto\\b/,\n  /\\bgastos\\b/,\n  /\\bcompra\\b/,\n  /\\bcompras\\b/,\n  /\\bofi\\b/,\n  /\\boficina\\b/,\n  /\\breunion\\b/,\n  /\\breunión\\b/,\n  /\\bcliente\\b/,\n  /\\bproveedor\\b/\n];\n\nconst paymentPatterns = [\n  /\\beft\\b/,\n  /\\btransferencia\\b/,\n  /\\btransferi\\b/,\n  /\\btransferimos\\b/,\n  /\\btransferido\\b/,\n  /\\befectivo\\b/,\n  /\\bcontado\\b/,\n  /\\btarjeta\\b/,\n  /\\bdebito\\b/,\n  /\\bdébito\\b/,\n  /\\bcredito\\b/,\n  /\\bcrédito\\b/,\n  /\\bmp\\b/,\n  /\\bmercado pago\\b/,\n  /\\bdeposito\\b/,\n  /\\bdepósito\\b/\n];\n\nconst dateContextPatterns = [\n  /\\bhoy\\b/,\n  /\\bayer\\b/,\n  /\\banteayer\\b/,\n  /\\besta manana\\b/,\n  /\\besta mañana\\b/,\n  /\\besta tarde\\b/,\n  /\\banoche\\b/,\n  /\\bel lunes\\b/,\n  /\\bel martes\\b/,\n  /\\bel miercoles\\b/,\n  /\\bel miércoles\\b/,\n  /\\bel jueves\\b/,\n  /\\bel viernes\\b/,\n  /\\bel sabado\\b/,\n  /\\bel sábado\\b/,\n  /\\bel domingo\\b/\n];\n\nconst confirmationPatterns = [\n  /^\\s*si+\\s*$/,\n  /^\\s*sisi+\\s*$/,\n  /^\\s*dale\\s*$/,\n  /^\\s*ok+\\s*$/,\n  /^\\s*okey+\\s*$/,\n  /^\\s*de una\\s*$/,\n  /^\\s*joya\\s*$/,\n  /^\\s*perfecto\\s*$/,\n  /^\\s*bien\\b/,\n  /^\\s*mandalo\\s*$/,\n  /^\\s*mandala\\s*$/,\n  /^\\s*subilo\\s*$/,\n  /^\\s*subila\\s*$/,\n  /^\\s*cargalo\\s*$/,\n  /^\\s*cargala\\s*$/,\n  /^\\s*hacelo\\s*$/,\n  /^\\s*metele\\s*$/,\n  /subilo asi/,\n  /subilo así/,\n  /mandalo asi/,\n  /mandalo así/,\n  /cargalo asi/,\n  /cargalo así/,\n  /asi esta bien/,\n  /así está bien/,\n  /esta bien asi/,\n  /está bien así/,\n  /dale subilo/,\n  /dale mandalo/,\n  /si subilo/,\n  /si mandalo/,\n  /sí subilo/,\n  /sí mandalo/\n];\n\nconst rejectionPatterns = [\n  /\\bno\\b/,\n  /\\bpara\\b/,\n  /\\bdejalo\\b/,\n  /\\bdejala\\b/,\n  /\\bno lo subas\\b/,\n  /\\bno la subas\\b/,\n  /\\bno lo cargues\\b/,\n  /\\bno la cargues\\b/,\n  /\\bcancel[aá]?\\b/\n];\n\nconst moneyRegex = /(?:\\$?\\s?\\d{1,3}(?:[.\\s]\\d{3})*(?:,\\d{1,2})?|\\$?\\s?\\d+(?:[.,]\\d{1,2})?)(?:\\s?(?:ars|pesos|peso|lucas|mil|k))?\\b/gi;\nconst amounts = text.match(moneyRegex) || [];\nconst hasAmount = amounts.some(a => /\\d/.test(a));\n\nconst isSaludo = matchesAny(saludoPatterns, lower);\nconst isConsulta = matchesAny(consultaPatterns, lower);\nconst hasExpenseDescription = matchesAny(expenseDescriptionPatterns, lower);\nconst hasPaymentInfo = matchesAny(paymentPatterns, lower);\nconst hasDateContext = matchesAny(dateContextPatterns, lower);\nconst isConfirmation = matchesAny(confirmationPatterns, lower);\nconst isRejection = matchesAny(rejectionPatterns, lower);\n\n// score simple para detectar mensajes de gasto aunque no vengan perfectos\nlet expenseScore = 0;\nif (hasAmount) expenseScore += 2;\nif (hasExpenseDescription) expenseScore += 2;\nif (hasPaymentInfo) expenseScore += 1;\nif (hasDateContext) expenseScore += 1;\n\n// clasificación\nlet tipo_texto = 'chat_comun';\nlet requiere_aclaracion = false;\n\n// 1) rechazo explícito\nif (isRejection) {\n  tipo_texto = 'cancelacion_manual';\n}\n\n// 2) rendición manual clara\nelse if (hasAmount && hasExpenseDescription) {\n  tipo_texto = 'rendicion_manual';\n}\n\n// 3) rendición probable aunque venga incompleta\nelse if (expenseScore >= 3) {\n  tipo_texto = 'rendicion_manual_incompleta';\n  requiere_aclaracion = true;\n}\n\n// 4) confirmación tipo \"sí, subilo así\"\nelse if (isConfirmation) {\n  tipo_texto = 'confirmacion_manual';\n}\n\n// 5) consulta\nelse if (isConsulta) {\n  tipo_texto = 'consulta_rendicion';\n}\n\n// 6) saludo\nelse if (isSaludo) {\n  tipo_texto = 'saludo';\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n      tipo_texto,\n      hay_importe: hasAmount,\n      hay_descripcion: hasExpenseDescription,\n      hay_medio_pago: hasPaymentInfo,\n      hay_contexto_fecha: hasDateContext,\n      importes_detectados: amounts,\n      es_confirmacion: isConfirmation,\n      es_cancelacion: isRejection,\n      es_consulta: isConsulta,\n      es_saludo: isSaludo,\n      expense_score: expenseScore,\n      requiere_aclaracion\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        560
      ],
      "id": "92be686e-dc1b-4dff-a606-345d688b6844",
      "name": "clasificar intención"
    },
    {
      "parameters": {
        "jsCode": "// NOTA: Validaciones deshabilitadas intencionalmente:\n// - tipo_comprobante, tipo_factura, numero_factura, fecha\n// - proveedor (nombre, cuit, direccion)\n// - cliente (nombre, cuit_dni, direccion)\n// - moneda, subtotal, iva, otros_impuestos, cae, vto_cae\n// - Cruce de totales (subtotal + iva + otros vs total)\n// - Cruce de items (suma items vs subtotal)\n// - Validacion individual de cada item (descripcion, cantidad, precio)\nfunction getNodeJsonSafe(nodeName) {\n  try {\n    return $(nodeName).first().json;\n  } catch (e) {\n    return null;\n  }\n}\n\nfunction normalizeString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v).trim();\n}\n\nfunction onlyDigits(v) {\n  return normalizeString(v).replace(/\\D/g, '');\n}\n\nfunction hasText(v) {\n  return normalizeString(v) !== '';\n}\n\nfunction isValidDateYYYYMMDD(v) {\n  const str = normalizeString(v);\n  if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(str)) return false;\n\n  const [y, m, d] = str.split('-').map(Number);\n  const date = new Date(y, m - 1, d);\n\n  return (\n    date.getFullYear() === y &&\n    date.getMonth() === m - 1 &&\n    date.getDate() === d\n  );\n}\n\nfunction isValidDateDDMMYYYY(v) {\n  const str = normalizeString(v);\n  if (!/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(str)) return false;\n\n  const [d, m, y] = str.split('/').map(Number);\n  const date = new Date(y, m - 1, d);\n\n  return (\n    date.getFullYear() === y &&\n    date.getMonth() === m - 1 &&\n    date.getDate() === d\n  );\n}\n\nfunction isValidAnyDate(v) {\n  return isValidDateYYYYMMDD(v) || isValidDateDDMMYYYY(v);\n}\n\nfunction isValidCUIT(v) {\n  return /^\\d{11}$/.test(onlyDigits(v));\n}\n\nfunction isValidCUITorDNI(v) {\n  const digits = onlyDigits(v);\n  return /^\\d{11}$/.test(digits) || /^\\d{7,8}$/.test(digits);\n}\n\nfunction isNumber(v) {\n  return v !== null && v !== '' && !isNaN(Number(v));\n}\n\nfunction isPositiveInteger(v) {\n  return Number.isInteger(Number(v)) && Number(v) > 0;\n}\n\nfunction isArrayWithItems(v) {\n  return Array.isArray(v) && v.length > 0;\n}\n\nfunction line(label, value, missing, invalid) {\n  const val = normalizeString(value);\n  if (missing) return `${label}:   ← FALTANTE`;\n  if (invalid) return `${label}: ${val}  ← INVALIDO`;\n  return `${label}: ${val}`;\n}\n\nfunction normalizePaymentMethod(v) {\n  const val = normalizeString(v).toLowerCase();\n\n  if (\n    val.includes('contado') ||\n    val.includes('efectivo') ||\n    val.includes('cash') ||\n    val.includes('1')\n  ) {\n    return 1;\n  }\n\n  if (\n    val.includes('tarjeta') ||\n    val.includes('credito') ||\n    val.includes('crédito') ||\n    val.includes('debito') ||\n    val.includes('débito') ||\n    val.includes('transferencia') ||\n    val.includes('2') ||\n    val.includes('transfer')\n  ) {\n    return 2;\n  }\n\n  return null;\n}\n\nconst imageData = getNodeJsonSafe('Normalize Extracted Image Data');\nconst pdfData = getNodeJsonSafe('Normalize Extracted PDF Data');\nconst manualData = getNodeJsonSafe('parsear gasto manual');\n\nlet source = null;\nlet sourceType = null;\n\nif (manualData) {\n  source = manualData;\n  sourceType = 'manual';\n} else if (pdfData) {\n  source = pdfData;\n  sourceType = 'pdf';\n} else if (imageData) {\n  source = imageData;\n  sourceType = 'image';\n} else {\n  throw new Error('No hay datos disponibles de ninguna fuente.');\n}\n\nconst tipo_comprobante = source.tipo_comprobante ?? null;\nconst tipo_factura = source.tipo_factura ?? null;\nconst numero_factura = source.numero_factura ?? null;\nconst fecha = source.fecha ?? null;\n\nconst proveedor_nombre =\n  source.proveedor_nombre ??\n  source.proveedor?.nombre ??\n  null;\n\nconst proveedor_cuit =\n  source.proveedor_cuit ??\n  source.proveedor?.cuit ??\n  null;\n\nconst proveedor_direccion =\n  source.proveedor_direccion ??\n  source.proveedor?.direccion ??\n  null;\n\nconst cliente_nombre =\n  source.cliente_nombre ??\n  source.cliente?.nombre ??\n  null;\n\nconst cliente_cuit_dni =\n  source.cliente_cuit_dni ??\n  source.cliente?.cuit_dni ??\n  null;\n\nconst cliente_direccion =\n  source.cliente_direccion ??\n  source.cliente?.direccion ??\n  null;\n\nconst items_data =\n  source.detalle_items ??\n  source.items ??\n  null;\n\nlet descripcion_general =\n  source.descripcion_general ??\n  source.descripcion ??\n  null;\n\nif (!hasText(descripcion_general) && Array.isArray(items_data) && items_data.length > 0) {\n  descripcion_general = items_data\n    .map(i => normalizeString(i?.descripcion))\n    .filter(v => v !== '')\n    .join(', ');\n}\n\nconst moneda = source.moneda ?? 'ARS';\n\nconst subtotal = source.subtotal ?? null;\nconst iva = source.iva ?? null;\nconst otros_impuestos = source.otros_impuestos ?? 0;\n\nconst total =\n  source.importe_total ??\n  source.total ??\n  null;\n\nconst medio_pago = source.medio_pago ?? null;\n\nconst cantidad_items =\n  source.cantidad_items ??\n  source.cantidad ??\n  (Array.isArray(source.detalle_items)\n    ? source.detalle_items.length\n    : Array.isArray(source.items)\n      ? source.items.length\n      : 1);\n\nconst dedupe_key = source.dedupe_key ?? null;\nconst raw_text = source.raw_text ?? '';\n\nlet cae =\n  source.cae ??\n  source.CAE ??\n  null;\n\nlet vto_cae =\n  source.vto_cae ??\n  source['Vto CAE'] ??\n  null;\n\nif (!hasText(cae) && hasText(raw_text)) {\n  const caeMatches = raw_text.match(/\\b\\d{14}\\b/g);\n  if (caeMatches && caeMatches.length > 0) {\n    cae = caeMatches[caeMatches.length - 1];\n  }\n}\n\nif (!hasText(vto_cae) && hasText(raw_text)) {\n  const dateMatches = raw_text.match(/\\b\\d{2}\\/\\d{2}\\/\\d{4}\\b/g);\n  if (dateMatches && dateMatches.length > 0) {\n    vto_cae = dateMatches[dateMatches.length - 1];\n  }\n}\n\nconst missing_fields = [];\nconst invalid_fields = [];\n\nfunction validateField(fieldName, value, validator, options = {}) {\n  const { optional = false } = options;\n\n  const empty =\n    value === null ||\n    value === undefined ||\n    value === '' ||\n    (Array.isArray(value) && value.length === 0);\n\n  if (empty) {\n    if (!optional) missing_fields.push(fieldName);\n    return;\n  }\n\n  if (!validator(value)) {\n    invalid_fields.push(fieldName);\n  }\n}\n\nvalidateField('descripcion_general', descripcion_general, hasText);\nvalidateField('total', total, isNumber);\nvalidateField('medio_pago', medio_pago, hasText, { optional: true });\nvalidateField('cantidad_items', cantidad_items, isPositiveInteger);\nvalidateField('items', items_data, isArrayWithItems);\n\nif (sourceType === 'image') {\n  validateField('dedupe_key', dedupe_key, hasText);\n}\n\nlet totals_ok = true;\nlet items_ok = true;\nlet count_ok = true;\n\nconst subtotal_num = Number(subtotal || 0);\nconst iva_num = Number(iva || 0);\nconst otros_num = Number(otros_impuestos || 0);\nconst total_num = Number(total || 0);\n\nif (Array.isArray(items_data) && items_data.length > 0) {\n\n}\n\nconst ok =\n  missing_fields.length === 0 &&\n  invalid_fields.length === 0;\n\nconst message_for_user = ok\n  ? 'Rendición válida. Puede avanzar al commit.'\n  : `RENDICION DE GASTO\n\nFaltan algunos datos para cargarla bien. Pasámelo corregido así:\n\n${line('Descripción', descripcion_general, missing_fields.includes('descripcion_general'), invalid_fields.includes('descripcion_general'))}\n${line('Moneda', moneda, missing_fields.includes('moneda'), invalid_fields.includes('moneda'))}\n${line('Total', total, missing_fields.includes('total'), invalid_fields.includes('total'))}\n${line('Cantidad items', cantidad_items, missing_fields.includes('cantidad_items'), invalid_fields.includes('cantidad_items'))}\n`;\n\nconst tipo_pago = normalizePaymentMethod(medio_pago);\n\nfunction toNumber(v) {\n  if (v === null || v === undefined || v === '') return 0;\n\n  const str = String(v).trim();\n\n  if (str.includes(',') && str.includes('.')) {\n    const normalized = str.replace(/\\./g, '').replace(',', '.');\n    const n = Number(normalized);\n    return Number.isFinite(n) ? n : 0;\n  }\n\n  if (str.includes(',')) {\n    const normalized = str.replace(',', '.');\n    const n = Number(normalized);\n    return Number.isFinite(n) ? n : 0;\n  }\n\n  const n = Number(str);\n  return Number.isFinite(n) ? n : 0;\n}\n\nconst total_absoluto = toNumber(total);\n\nconst items_normalized = Array.isArray(items_data)\n  ? items_data.map((item) => {\n      const cantidad = toNumber(item?.cantidad) || 1;\n\n      const total_products = toNumber(\n        item?.total_products ??\n        item?.total_producto ??\n        item?.total ??\n        item?.importe ??\n        item?.parcial\n      );\n\n      const precio_unitario = cantidad > 0\n        ? Number((total_products / cantidad).toFixed(2))\n        : total_products;\n\n      return {\n        descripcion: item?.descripcion ?? null,\n        cantidad,\n        precio_unitario,\n        total_products,\n        total: total_absoluto\n      };\n    })\n  : [];\n\nreturn [\n  {\n    json: {\n      source_type: sourceType,\n      tipo_comprobante,\n      tipo_factura,\n      numero_factura,\n      fecha,\n      proveedor: {\n        nombre: proveedor_nombre,\n        cuit: proveedor_cuit,\n        direccion: proveedor_direccion\n      },\n      cliente: {\n        nombre: cliente_nombre,\n        cuit_dni: cliente_cuit_dni,\n        direccion: cliente_direccion\n      },\n      descripcion_general,\n      moneda,\n      subtotal,\n      iva,\n      otros_impuestos,\n      total,\n      medio_pago: tipo_pago,\n      cantidad_items,\n      items: items_normalized,\n      dedupe_key,\n      cae,\n      vto_cae,\n      validation: {\n        ok,\n        missing_fields: [...new Set(missing_fields)],\n        invalid_fields: [...new Set(invalid_fields)],\n        totals_ok,\n        items_ok,\n        count_ok,\n        message_for_user\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        288
      ],
      "id": "fc2afcd0-40a5-4619-9056-5fabf3fd778a",
      "name": "Validador de datos pdf/fotos"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dM4l5DSwAW53mgMEXuZNgCUODkx_Q8BjDOcTLeOGpEc",
          "mode": "list",
          "cachedResultName": "Automatizaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dM4l5DSwAW53mgMEXuZNgCUODkx_Q8BjDOcTLeOGpEc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1809122337,
          "mode": "list",
          "cachedResultName": "conv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dM4l5DSwAW53mgMEXuZNgCUODkx_Q8BjDOcTLeOGpEc/edit#gid=1809122337"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user_id",
              "lookupValue": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        512
      ],
      "id": "d1d01703-49a4-4aae-9708-f90b4ba7d6f5",
      "name": "obtener_conversacion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X9RzWqukg9OFpJYv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = Math.floor(Date.now() / 1000);\n\n// Traé esto desde tu storage real\nconst lastMessageAt = $input.first().json.last_message || null;\n\n// umbral de conversación activa: 20 minutos\nconst SESSION_TIMEOUT = 20 * 60;\n\nlet is_new_conversation = false;\n\nif (!lastMessageAt) {\n  is_new_conversation = true;\n} else {\n  const diff = now - Number(lastMessageAt);\n  is_new_conversation = diff > SESSION_TIMEOUT;\n}\n\nreturn [{\n  ...$json,\n  now,\n  is_new_conversation,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        512
      ],
      "id": "ec84e784-98ac-45eb-82a6-a9f679317dc6",
      "name": "new conversation?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1dM4l5DSwAW53mgMEXuZNgCUODkx_Q8BjDOcTLeOGpEc",
          "mode": "list",
          "cachedResultName": "Automatizaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dM4l5DSwAW53mgMEXuZNgCUODkx_Q8BjDOcTLeOGpEc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1809122337,
          "mode": "list",
          "cachedResultName": "conv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dM4l5DSwAW53mgMEXuZNgCUODkx_Q8BjDOcTLeOGpEc/edit#gid=1809122337"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_message": "={{ $('chat o rendicion?').item.json.text }}",
            "telegram_user_id": "={{ $json.result.chat.id }}",
            "bot_last_message": "={{ $json.result.text }}"
          },
          "matchingColumns": [
            "telegram_user_id"
          ],
          "schema": [
            {
              "id": "employee_id",
              "displayName": "employee_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user_id",
              "displayName": "telegram_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_message",
              "displayName": "last_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bot_last_message",
              "displayName": "bot_last_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        736
      ],
      "id": "314e250a-e318-435c-810b-026e66e0ab41",
      "name": "actualizar_conv_post_chat",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X9RzWqukg9OFpJYv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wakAFQlVrpRv0H6pflrq65aTtRiQFgu_UGbyR_c8Ih0",
          "mode": "list",
          "cachedResultName": "rendisiones-demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wakAFQlVrpRv0H6pflrq65aTtRiQFgu_UGbyR_c8Ih0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 29790390,
          "mode": "list",
          "cachedResultName": "Hoja 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wakAFQlVrpRv0H6pflrq65aTtRiQFgu_UGbyR_c8Ih0/edit#gid=29790390"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        592
      ],
      "id": "7f2e4dc0-57cc-44ca-8aae-798c2c289622",
      "name": "obtener_datos_idemp_text",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X9RzWqukg9OFpJYv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0e09edb2-5c6d-499b-a621-831d9c25cf02",
              "leftValue": "={{ $json.tipo_texto }}",
              "rightValue": "rendicion_manual",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        736
      ],
      "id": "1beebacf-9e7b-45cc-9ce0-6ad849c8d70b",
      "name": "chat o rendicion?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Listo, tu rendicion ha sido cargada y enviada, te dejo los datos para que los compruebes:\n\nDescripcion: {{\n  $('Separador por categorias.').isExecuted\n    ? $('Separador por categorias.').first().json.descripcion_general\n    : $('validacion_datos_pdf_img').first().json.proveedor.nombre\n}}\nImporte total: ${{\n  $('Validador de datos pdf/fotos').isExecuted\n    ? $('Validador de datos pdf/fotos').first().json.total\n    : $('Separador por categorias.').first().json.importe_total\n}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5104,
        176
      ],
      "id": "227b2f94-3ef1-4b04-b42e-72eac41d4fbe",
      "name": "confirmacion_carga_usuario",
      "webhookId": "971b15f0-59fd-4aa2-a4ce-8726da7eeb91",
      "credentials": {
        "telegramApi": {
          "id": "MVbOOTdhDALG2ezE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1dM4l5DSwAW53mgMEXuZNgCUODkx_Q8BjDOcTLeOGpEc",
          "mode": "list",
          "cachedResultName": "Automatizaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dM4l5DSwAW53mgMEXuZNgCUODkx_Q8BjDOcTLeOGpEc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1809122337,
          "mode": "list",
          "cachedResultName": "conv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dM4l5DSwAW53mgMEXuZNgCUODkx_Q8BjDOcTLeOGpEc/edit#gid=1809122337"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user_id": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "last_message": "={{ \"\" }}",
            "bot_last_message": "={{ \"\" }}"
          },
          "matchingColumns": [
            "telegram_user_id"
          ],
          "schema": [
            {
              "id": "employee_id",
              "displayName": "employee_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user_id",
              "displayName": "telegram_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_message",
              "displayName": "last_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bot_last_message",
              "displayName": "bot_last_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5104,
        400
      ],
      "id": "ea7ebecb-0ce4-4483-886b-1bf4efb6f1cd",
      "name": "actualizar_conv_post_envio",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X9RzWqukg9OFpJYv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2824f3eb-32c7-44e4-94cb-c9a38483aa63",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        976
      ],
      "id": "e646d902-2b12-4152-a755-74dd2aa6067c",
      "name": "decision_OK"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.mensaje_usuario }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        1200
      ],
      "id": "7925021e-7472-4377-b034-c8530fb4b565",
      "name": "respuesta_aclaracion",
      "webhookId": "9c687092-410f-4ecd-8815-c24f93070823",
      "credentials": {
        "telegramApi": {
          "id": "MVbOOTdhDALG2ezE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        480,
        1120
      ],
      "id": "665b4418-1964-4e46-9d86-59638d7256bd",
      "name": "modelo_parser_rendicion",
      "credentials": {
        "openAiApi": {
          "id": "1BbfIiWLJauRYf7i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sos un interpretador y validador de mensajes de rendición manual.\n\nTu trabajo NO es conversar.\nTu trabajo es leer el mensaje del usuario, extraer la información útil de rendición manual y decidir si alcanza para seguir o si hay que pedir aclaración.\n\nTenés que hacer dos cosas al mismo tiempo:\n1. interpretar y parsear el mensaje\n2. decidir si se puede cargar sin inventar nada\n\n==================================================\nCONTEXTO DISPONIBLE\n==================================================\n\nTomá como fuente principal este mensaje:\n\n{{ $json.raw_text || $json.text || '' }}\n\nTambién podés usar estos campos si sirven, pero no son prioritarios:\n- text: {{ $json.text || '' }}\n- text_lower: {{ $json.text_lower || '' }}\n- normalized_kind: {{ $json.normalized_kind || '' }}\n- tipo_texto: {{ $json.tipo_texto || '' }}\n- importes_detectados: {{ JSON.stringify($json.importes_detectados || []) }}\n\nIMPORTANTE:\nLa gran mayoría de los campos de metadata no importan para interpretar la rendición.\nPriorizá siempre el contenido real del mensaje del usuario.\n\n==================================================\nOBJETIVO\n==================================================\n\nDeterminar si el mensaje ya permite cargar una rendición manual sin inventar datos.\n\nSi alcanza:\n- devolver parseo estructurado\n- marcar decision = \"OK\"\n\nSi no alcanza:\n- devolver decision = \"ACLARAR\"\n- devolver un mensaje corto para el usuario explicando qué falta y cómo reenviarlo\n- no inventar el parseo faltante\n\n==================================================\nREGLA CENTRAL\n==================================================\n\nTu criterio no es:\n\"creo que entendí más o menos\"\n\nTu criterio es:\n\"esto se puede cargar sin riesgo de asignar mal conceptos, importes o medio de pago\"\n\nSi hay duda real:\n→ decision = \"ACLARAR\"\n\n==================================================\nQUÉ TENÉS QUE EXTRAER\n==================================================\n\nExtraé estos campos:\n\n- decision\n- mensaje_usuario\n- parseo_confiable\n- validacion_minima_ok\n- hay_importe\n- hay_descripcion\n- hay_medio_pago\n- raw_text\n- descripcion_general\n- categoria\n- importe_total\n- cantidad\n- precio_unitario\n- moneda\n- medio_pago_raw\n- medio_pago\n- mixed_payment_methods\n- detalle_items\n\n==================================================\nREGLAS DE EXTRACCIÓN\n==================================================\n\n1. Moneda\n- asumí \"ARS\" salvo que el mensaje indique claramente otra moneda\n\n2. Medio de pago\nMapeo:\n- efectivo / contado / cash → medio_pago = 1\n- tarjeta / crédito / débito / transferencia / MP / Mercado Pago / Modo → medio_pago = 2\n- Si un gasto tiene descripción e importe claros pero no menciona medio de pago, asumí por defecto efectivo/contado.\n- En ese caso completá:\n  - medio_pago_raw = \"efectivo\"\n  - medio_pago = 1\n- No dejes medio_pago en null en un gasto claro solo porque no fue mencionado.\n\nIMPORTANTE:\nTenés que detectar el medio de pago también por item dentro de detalle_items.\n\nReglas:\n- Si todo el mensaje usa claramente un solo medio de pago para todos los gastos, aplicalo a todos los items.\n- Si hay distintos medios de pago en el mismo mensaje, asigná el medio de pago correcto a cada item si la relación queda clara o razonablemente inferible por cercanía textual.\n- Se permite una inferencia simple y común cuando el medio de pago aparece pegado o claramente asociado a un gasto concreto.\n- Si un medio de pago aparece solo al final y de forma natural parece referirse al último gasto mencionado, podés asignarlo a ese último gasto.\n- Solo pedí aclaración si la relación entre gasto, monto y medio de pago es realmente confusa o si hay riesgo real de asignar mal.\n- No frenes por una falta menor si el resto del mensaje ya permite cargar razonablemente.\n\n3. Importe\nInterpretá correctamente:\n- 15k = 15000\n- 12 mil = 12000\n- 12mil = 12000\n- 15 lucas = 15000\n- 1,5k = 1500\n- 1.5k = 1500\n- 20.000 = 20000\n- $20.000 = 20000\n\n4. Cantidad y precio_unitario\n- si hay un solo gasto simple, cantidad = 1 y precio_unitario = importe_total\n- si hay varios gastos separados, cada item lleva cantidad = 1 salvo que se diga otra cosa\n- si dice algo como \"2 taxis de 9000 c/u\", entonces:\n  - cantidad = 2\n  - precio_unitario = 9000\n  - total = 18000\n\n5. Descripción\nExtraé qué fue cada gasto sin inventar.\nSi hay marcas o comercios relevantes, podés incorporarlos a la descripción solo si ayudan:\n- YPF / Shell / Axion / Puma → combustible\n- Rappi / Mc / Mostaza / Burger → comida\n- pero no inventes una descripción nueva si el mensaje no alcanza\n\n6. Categoría\nUsá una categoría razonable según el concepto detectado.\n\nCategorías orientativas:\n- transporte (taxis/ubers/didi/etc)\n- movilidad  (peajes/etc)\n- comidas\n- viáticos\n- alojamiento (hotel/motel)\n- insumos\n- logística\n- operación rural\n- sanidad\n- campo\n- mantenimiento\n- administración\n- otros\n- mixto\n\n7. detalle_items\nSiempre que se pueda, armá detalle_items como array de objetos con:\n- item_index\n- descripcion\n- categoria\n- cantidad\n- precio_unitario\n- total\n- medio_pago_raw\n- medio_pago\n\n8. descripcion_general\n- si hay un solo item: la descripción de ese item\n- si hay varios: una descripción agrupada, por ejemplo \"combustible + comida\"\n- si mezcla categorías distintas, categoria = \"mixto\"\n\n9. Top-level medio_pago\n- Si todos los items tienen el mismo medio de pago, completá:\n  - medio_pago_raw\n  - medio_pago\n  - mixed_payment_methods = false\n- Si los items tienen distintos medios de pago:\n  - medio_pago_raw = null\n  - medio_pago = null\n  - mixed_payment_methods = true\n\n10. hay_medio_pago\n- true si cada gasto usable tiene medio de pago explícito, inferido razonablemente o asumido por defecto como efectivo\n- false solo si hay una ambigüedad real sobre el medio de pago y no se puede resolver sin riesgo\n\n11. Más de una rendición en un mismo mensaje.\n\nSi el mensaje incluye varios gastos y se entienden los importes pero no está claro si van juntos o separados:\n\n- no asumas\n- pedí aclaración de forma simple\n\nFormato:\n\n- hacé una sola pregunta clara\n- opcionalmente mostrás UN solo ejemplo corto y limpio\n\nEjemplo correcto:\n\"¿Van juntas en una sola rendición o las querés separar?\"\n\nSi necesitás mostrar formato:\n\"didi 18000; comida 15000\"\n\nReglas:\n- nunca des más de un ejemplo\n- nunca agregues variantes (como medios de pago) si no son necesarios\n- no sobreexpliqués\n- no armes ejemplos complejos\n==================================================\nRUBRO DE LA EMPRESA: REMATES RURALES\n==================================================\n\nAdemás de gastos comunes, tené especialmente en cuenta conceptos de este rubro:\n\n- flete\n- transporte de hacienda\n- corralaje\n- balanza\n- pesaje\n- veterinaria\n- vacunas\n- sanidad\n- alimento balanceado\n- rollos\n- fardos\n- ferretería\n- alambre\n- postes\n- varillas\n- repuestos\n- cubiertas\n- baterías\n- tractor\n- acoplado\n- tolva\n- camioneta\n- camión\n- comisión bancaria\n- gastos bancarios\n- comisión de remate\n- gastos de remate\n- casilla\n- lavadero / lavado\n\nAsigná una descripción y categoría coherente si aparecen.\n\n==================================================\nREGLAS CRÍTICAS: CUÁNDO NO VALIDAR\n==================================================\n\nNO marques OK si pasa cualquiera de estas cosas:\n\n- falta importe\n- falta descripción del gasto\n- hay varios gastos pero no quedó claro cuánto corresponde a cada uno\n- hay varios importes y no quedó clara la asignación a cada concepto\n- hay varios medios de pago y no quedó clara la asignación a cada gasto\n- el texto es realmente ambiguo o demasiado mezclado\n- hay riesgo real de asignar mal una relación entre monto, concepto y medio de pago\n\nNO frenes una rendición solo porque falta un medio de pago secundario si el mensaje se entiende bien y la interpretación principal es razonable.\n\nPermití inferencias simples, naturales y de baja ambigüedad.\n\nSolo devolvé ACLARAR cuando la falta o la confusión pueda hacer cargar mal la rendición.\n\nSi no está claro:\n- no armes una versión final cerrada\n- no valides una interpretación dudosa\n- pedí que lo reenvíe más claro\n\n==================================================\nMENSAJE AL USUARIO SI FALTA ALGO\n==================================================\n\nSi decision = \"ACLARAR\", el campo mensaje_usuario debe ser:\n- corto\n- humano\n- claro\n- directo\n- útil\n\nDebe explicar:\n- qué falta o qué quedó ambiguo\n- por qué no alcanza todavía\n- cómo reenviarlo mejor\n\nNo adaptes el ejemplo al texto exacto del usuario.\nNo intentes “pegarle” a lo que puso.\nSi necesitás dar ejemplo, usá siempre ejemplos fijos, confiables y simples.\n\nEjemplos buenos:\n- \"No me quedó claro el importe. Mandámelo de nuevo con el monto, por ejemplo: 'taxi 18000 efectivo'.\"\n- \"No me quedó clara la separación de los gastos. Mandámelo así: 'comida 15000 efectivo; nafta 80000 tarjeta'.\"\n- \"Me falta saber qué fue el gasto. Reenviámelo simple, por ejemplo: 'almuerzo 24500 efectivo'.\"\n- \"No me quedó claro cómo pagaste cada gasto. Mandámelo así: 'comida 15000 efectivo; nafta 80000 tarjeta'.\"\n- \"Reenviámelo más claro, por ejemplo: 'taxi 18000 efectivo' o 'comida 15000 efectivo; nafta 80000 tarjeta'.\"\n\nNo uses:\n- tono técnico\n- tono robótico\n- explicaciones internas\n- texto largo\n\nCuando des un ejemplo:\n\n- usá SIEMPRE un solo ejemplo\n- que sea corto, simple y en una sola línea\n- solo con concepto + importe\n\nEjemplo válido:\n\"didi 18000; comida 15000\"\n\nEstá prohibido:\n- dar múltiples ejemplos\n- agregar variantes\n- agregar medios de pago si no son necesarios\n- explicar de más\n\nUn ejemplo malo:\n\"didi 18000 efectivo; comida 15000 tarjeta\"\n==================================================\nCRITERIOS DE CONFIANZA\n==================================================\n\nMarcá:\n- parseo_confiable = true si la asignación principal entre concepto y monto es clara, y el medio de pago está claro o razonablemente inferido donde corresponda\n- validacion_minima_ok = true si hay al menos:\n  - descripción suficiente\n  - importe suficiente\n  - estructura usable sin inventar relaciones importantes\n\nCampos booleanos:\n- hay_importe = true si hay importe usable\n- hay_descripcion = true si hay concepto usable\n- hay_medio_pago = true si el medio de pago está explícito, inferido o asumido por defecto como efectivo\n- si algún item secundario queda sin medio de pago pero la rendición igual es claramente interpretable, no fuerces ACLARAR solo por eso\n\n==================================================\nREGLA DE FLEXIBILIDAD CONTROLADA\n==================================================\n\nCuando el mensaje esté bastante claro y la interpretación sea natural, simple y de baja ambigüedad, priorizá dejarlo pasar.\n\nNo pidas aclaración por perfeccionismo.\n\nPedí aclaración solo si:\n- realmente no se sabe qué gasto corresponde a qué monto\n- realmente no se sabe qué medio de pago corresponde a qué gasto\n- o la carga puede quedar objetivamente mal\n\nSi el mensaje se entiende bien en lo importante, devolvé OK aunque no esté redactado perfecto.\n\n==================================================\nREGLA DE COHERENCIA INTERNA\n==================================================\n\nEl JSON final tiene que ser internamente coherente.\n\nSi decision = \"OK\":\n- no dejes campos clave en contradicción entre sí\n- no pongas hay_medio_pago = false si el medio de pago fue explícito, inferido o asumido por defecto\n- no dejes medio_pago = null en un gasto claro si la regla indica asumir efectivo por defecto\n\nSi un gasto está claro en descripción e importe y no menciona medio de pago:\n- completalo como efectivo\n- medio_pago_raw = \"efectivo\"\n- medio_pago = 1\n\n==================================================\nSALIDA OBLIGATORIA\n==================================================\n\nDevolvé SIEMPRE un único JSON válido.\nNo agregues texto afuera del JSON.\nNo uses markdown.\nNo expliques nada.\n\nUsá exactamente esta estructura:\n\n{\n  \"decision\": \"OK o ACLARAR\",\n  \"mensaje_usuario\": \"string\",\n  \"parseo_confiable\": true,\n  \"validacion_minima_ok\": true,\n  \"hay_importe\": true,\n  \"hay_descripcion\": true,\n  \"hay_medio_pago\": true,\n  \"raw_text\": \"string\",\n  \"descripcion_general\": \"string o null\",\n  \"categoria\": \"string o null\",\n  \"importe_total\": 0,\n  \"cantidad\": 0,\n  \"precio_unitario\": 0,\n  \"moneda\": \"ARS\",\n  \"medio_pago_raw\": \"string o null\",\n  \"medio_pago\": 1,\n  \"mixed_payment_methods\": false,\n  \"detalle_items\": [\n    {\n      \"item_index\": 1,\n      \"descripcion\": \"string\",\n      \"categoria\": \"string\",\n      \"cantidad\": 1,\n      \"precio_unitario\": 0,\n      \"total\": 0,\n      \"medio_pago_raw\": \"string o null\",\n      \"medio_pago\": 1\n    }\n  ]\n}\n\n==================================================\nREGLAS FINALES\n==================================================\n\n- Nunca devuelvas más de un JSON\n- Nunca mezcles JSON con texto libre\n- Nunca inventes datos faltantes\n- Nunca des por válida una interpretación dudosa\n- Nunca pongas decision = \"OK\" si hay riesgo de cargar mal\n- Si hay duda, devolvé decision = \"ACLARAR\"\n\n==================================================\nEJEMPLOS INTERNOS DE INTERPRETACIÓN\n==================================================\n\nEjemplo 1\nEntrada:\n\"nafta 15000 con tarjeta\"\n\nSalida esperable:\n- decision = \"OK\"\n- descripcion_general = \"combustible\"\n- categoria = \"movilidad\"\n- importe_total = 15000\n- cantidad = 1\n- precio_unitario = 15000\n- medio_pago_raw = \"tarjeta\"\n- medio_pago = 2\n- mixed_payment_methods = false\n- detalle_items[0].medio_pago = 2\n\nEjemplo 2\nEntrada:\n\"comida 15000 efectivo; nafta 80000 tarjeta\"\n\nSalida esperable:\n- decision = \"OK\"\n- mixed_payment_methods = true\n- medio_pago_raw = null\n- medio_pago = null\n- detalle_items:\n  1. comida → 15000 → efectivo → medio_pago 1\n  2. combustible → 80000 → tarjeta → medio_pago 2\n\nEjemplo 3\nEntrada:\n\"gaste 15k en nafta YPF y 12mil en rappi con tarjeta\"\n\nSalida esperable:\n- decision = \"OK\" si queda claro que \"con tarjeta\" aplica al último gasto o a toda la frase de forma razonable\n- solo usar ACLARAR si no se puede asignar el medio de pago sin riesgo real de error\n\nEjemplo 4\nEntrada:\n\"tuve taxi y comida, 20 y 15, uno en efectivo y otro con tarjeta\"\n\nSalida:\n- decision = \"ACLARAR\"\n- mensaje_usuario pidiendo separar monto y medio de pago por cada gasto\n\nEjemplo 5\nEntrada:\n\"corralaje 18000 y balanza 7000 transferencia\"\n\nSalida:\n- decision = \"OK\"\n- medio_pago = 2\n- mixed_payment_methods = false\n- detalle_items con medio_pago 2 en ambos",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        976
      ],
      "id": "8ca378ed-e39d-44e3-a13e-e9349a30464f",
      "name": "agente_parser_rendicion"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1dM4l5DSwAW53mgMEXuZNgCUODkx_Q8BjDOcTLeOGpEc",
          "mode": "list",
          "cachedResultName": "Automatizaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dM4l5DSwAW53mgMEXuZNgCUODkx_Q8BjDOcTLeOGpEc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1809122337,
          "mode": "list",
          "cachedResultName": "conv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dM4l5DSwAW53mgMEXuZNgCUODkx_Q8BjDOcTLeOGpEc/edit#gid=1809122337"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_message": "={{ $('chat o rendicion?').item.json.text }}",
            "telegram_user_id": "={{ $json.result.chat.id }}",
            "bot_last_message": "={{ $json.result.text }}"
          },
          "matchingColumns": [
            "telegram_user_id"
          ],
          "schema": [
            {
              "id": "employee_id",
              "displayName": "employee_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user_id",
              "displayName": "telegram_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_message",
              "displayName": "last_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bot_last_message",
              "displayName": "bot_last_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1280,
        1200
      ],
      "id": "bea0fd17-d5eb-4497-98e2-2b7aad145aaf",
      "name": "actualizar_conv_post_aclaracion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X9RzWqukg9OFpJYv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction safeJsonParse(value) {\n  if (value === null || value === undefined) return null;\n  if (typeof value === 'object') return value;\n  try {\n    return JSON.parse(String(value));\n  } catch (e) {\n    return null;\n  }\n}\n\nfunction normalizeString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v).trim();\n}\n\nfunction normalizeBoolean(v, fallback = false) {\n  if (typeof v === 'boolean') return v;\n  if (typeof v === 'string') {\n    const s = v.trim().toLowerCase();\n    if (s === 'true') return true;\n    if (s === 'false') return false;\n  }\n  return fallback;\n}\n\nfunction normalizeNumber(v, fallback = 0) {\n  if (v === null || v === undefined || v === '') return fallback;\n  const n = Number(v);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nfunction unique(values) {\n  return [...new Set(values)];\n}\n\nfunction inferGroupedDescription(detalleItems) {\n  const descs = detalleItems\n    .map(i => normalizeString(i.descripcion))\n    .filter(Boolean);\n  return unique(descs).join(' + ');\n}\n\nfunction inferCategoria(detalleItems) {\n  const cats = detalleItems\n    .map(i => normalizeString(i.categoria))\n    .filter(Boolean);\n\n  const uniqueCats = unique(cats);\n  if (uniqueCats.length === 0) return 'otros';\n  if (uniqueCats.length === 1) return uniqueCats[0];\n  return 'mixto';\n}\n\nfunction normalizeMedioPagoRaw(raw, medioPago) {\n  const txt = normalizeString(raw).toLowerCase();\n\n  if (medioPago === 1) return txt || 'efectivo';\n  if (medioPago === 2) return txt || 'tarjeta/transferencia';\n  return txt || null;\n}\n\nfunction buildFallbackItem(itemJson, rawOutput) {\n  return {\n    ...itemJson,\n    agent_raw_output: rawOutput,\n    decision: 'ACLARAR',\n    mensaje_usuario: 'No pude interpretar bien la rendición. Reenviámela más clara, por ejemplo: \"taxi 18000 efectivo y comida 20000 tarjeta\".',\n    parseo_confiable: false,\n    validacion_minima_ok: false,\n    hay_importe: false,\n    hay_descripcion: false,\n    hay_medio_pago: false,\n    raw_text: '',\n    descripcion_general: '',\n    categoria: 'otros',\n    importe_total: 0,\n    cantidad: 0,\n    precio_unitario: 0,\n    moneda: 'ARS',\n    medio_pago_raw: null,\n    medio_pago: null,\n    mixed_payment_methods: false,\n    detalle_items: [],\n    output_parse_error: true,\n    is_ok: false,\n    needs_clarification: true\n  };\n}\n\nconst out = [];\n\nfor (const item of items) {\n  const rawOutput = item.json.output;\n  const parsed = safeJsonParse(rawOutput);\n\n  if (!parsed || typeof parsed !== 'object') {\n    out.push({ json: buildFallbackItem(item.json, rawOutput) });\n    continue;\n  }\n\n  const topLevelMedioPago =\n    parsed.medio_pago === null || parsed.medio_pago === undefined\n      ? null\n      : normalizeNumber(parsed.medio_pago, null);\n\nconst detalleItems = Array.isArray(parsed.detalle_items)\n  ? parsed.detalle_items.map((d, index) => {\n      let itemMedioPago =\n        d.medio_pago === null || d.medio_pago === undefined\n          ? topLevelMedioPago\n          : normalizeNumber(d.medio_pago, null);\n\n      // default operativo: si falta medio de pago pero el item está claro, asumir efectivo\n      if (itemMedioPago === null || itemMedioPago === undefined) {\n        const hasDescripcion = normalizeString(d.descripcion) !== '';\n        const hasTotal = normalizeNumber(d.total, 0) > 0 || normalizeNumber(d.precio_unitario, 0) > 0;\n\n        if (hasDescripcion && hasTotal) {\n          itemMedioPago = 1;\n        }\n      }\n\n      return {\n        item_index: normalizeNumber(d.item_index, index + 1),\n        descripcion: normalizeString(d.descripcion),\n        categoria: normalizeString(d.categoria) || 'otros',\n        cantidad: normalizeNumber(d.cantidad, 1),\n        precio_unitario: normalizeNumber(d.precio_unitario, 0),\n        total: normalizeNumber(d.total, 0),\n        medio_pago_raw: normalizeMedioPagoRaw(\n          d.medio_pago_raw ?? parsed.medio_pago_raw ?? null,\n          itemMedioPago\n        ),\n        medio_pago: itemMedioPago\n      };\n    })\n  : [];\n\n  const normalized = {\n    ...item.json,\n    ...parsed,\n    agent_raw_output: rawOutput,\n\n    decision: normalizeString(parsed.decision) || 'ACLARAR',\n    mensaje_usuario: normalizeString(parsed.mensaje_usuario),\n    parseo_confiable: normalizeBoolean(parsed.parseo_confiable, false),\n    validacion_minima_ok: normalizeBoolean(parsed.validacion_minima_ok, false),\n    hay_importe: normalizeBoolean(parsed.hay_importe, false),\n    hay_descripcion: normalizeBoolean(parsed.hay_descripcion, false),\n    hay_medio_pago: normalizeBoolean(parsed.hay_medio_pago, false),\n\n    raw_text: normalizeString(parsed.raw_text),\n    descripcion_general: normalizeString(parsed.descripcion_general),\n    categoria: normalizeString(parsed.categoria) || 'otros',\n    importe_total: normalizeNumber(parsed.importe_total, 0),\n    cantidad: normalizeNumber(parsed.cantidad, detalleItems.length || 0),\n    precio_unitario: normalizeNumber(parsed.precio_unitario, 0),\n    moneda: normalizeString(parsed.moneda) || 'ARS',\n    medio_pago_raw: parsed.medio_pago_raw ?? null,\n    medio_pago: topLevelMedioPago,\n    mixed_payment_methods: normalizeBoolean(parsed.mixed_payment_methods, false),\n\n    detalle_items: detalleItems,\n    output_parse_error: false\n  };\n\n  normalized.is_ok = normalized.decision === 'OK';\n  normalized.needs_clarification = normalized.decision !== 'OK';\n\nconst allItemsHavePayment =\n  detalleItems.length > 0 &&\n  detalleItems.every(d => d.medio_pago !== null && d.medio_pago !== undefined);\n\nif (allItemsHavePayment) {\n  normalized.hay_medio_pago = true;\n}\n\nconst uniquePayments = [...new Set(\n  detalleItems\n    .map(d => d.medio_pago)\n    .filter(v => v !== null && v !== undefined)\n)];\n\nif (uniquePayments.length === 1) {\n  normalized.medio_pago = uniquePayments[0];\n  normalized.medio_pago_raw = normalizeMedioPagoRaw(\n    detalleItems[0]?.medio_pago_raw ?? normalized.medio_pago_raw,\n    uniquePayments[0]\n  );\n  normalized.mixed_payment_methods = false;\n} else if (uniquePayments.length > 1) {\n  normalized.medio_pago = null;\n  normalized.medio_pago_raw = null;\n  normalized.mixed_payment_methods = true;\n}\n  \n  // Si no está OK o no hay items, sale un solo item normal\n  if (!normalized.is_ok || !detalleItems.length) {\n    out.push({ json: normalized });\n    continue;\n  }\n\n  // Agrupar por medio de pago de cada item\n  const groupedByPayment = new Map();\n\n  for (const det of detalleItems) {\n    const key = det.medio_pago === null || det.medio_pago === undefined ? 'null' : String(det.medio_pago);\n    if (!groupedByPayment.has(key)) groupedByPayment.set(key, []);\n    groupedByPayment.get(key).push(det);\n  }\n\n  const paymentGroups = [...groupedByPayment.entries()];\n\n  // Si hay un solo grupo de pago, dejar pasar un solo item\n  if (paymentGroups.length <= 1) {\n    // coherencia top-level\n    const onlyGroup = paymentGroups[0]?.[1] || [];\n    const onlyMedioPago = onlyGroup[0]?.medio_pago ?? normalized.medio_pago ?? null;\n\n    normalized.medio_pago = onlyMedioPago;\n    normalized.medio_pago_raw = normalizeMedioPagoRaw(\n      onlyGroup[0]?.medio_pago_raw ?? normalized.medio_pago_raw,\n      onlyMedioPago\n    );\n    normalized.mixed_payment_methods = false;\n\n    out.push({ json: normalized });\n    continue;\n  }\n\n  // Si hay varios medios de pago, devolver un item por grupo\n  for (const [, groupItems] of paymentGroups) {\n    const medioPagoGrupo = groupItems[0]?.medio_pago ?? null;\n    const medioPagoRawGrupo = normalizeMedioPagoRaw(groupItems[0]?.medio_pago_raw, medioPagoGrupo);\n\n    const importeTotalGrupo = groupItems.reduce((acc, d) => acc + normalizeNumber(d.total, 0), 0);\n    const cantidadGrupo = groupItems.reduce((acc, d) => acc + normalizeNumber(d.cantidad, 1), 0);\n\n    const cloned = {\n      ...normalized,\n      detalle_items: groupItems.map((d, idx) => ({\n        ...d,\n        item_index: idx + 1\n      })),\n      descripcion_general: inferGroupedDescription(groupItems),\n      categoria: inferCategoria(groupItems),\n      importe_total: importeTotalGrupo,\n      cantidad: cantidadGrupo,\n      precio_unitario: groupItems.length === 1 ? normalizeNumber(groupItems[0].precio_unitario, 0) : 0,\n      medio_pago: medioPagoGrupo,\n      medio_pago_raw: medioPagoRawGrupo,\n      mixed_payment_methods: true\n    };\n\n    out.push({ json: cloned });\n  }\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        976
      ],
      "id": "4eb6a0ae-aa03-4abc-8673-fc994bcc688f",
      "name": "Normalize Extracted Text Data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1600,
        448
      ],
      "id": "e6bfa992-f156-4dbc-b0d8-6d19017aa9c4",
      "name": "iterar_items_gasto"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://restprueba.madelan.com.ar/edp/v1.3/rendicion/{{ $('crear_rendicion').item.json.idrendicion }}/item",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "descripcion",
              "value": "={{ $('Separador por categorias.').item.json.descripcion_general }}"
            },
            {
              "name": "importe",
              "value": "={{ $('Separador por categorias.').item.json.precio_unitario}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3776,
        176
      ],
      "id": "aa65b725-3693-4201-8343-b37dfb551b93",
      "name": "Subir descripcion text",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VY36SSbeDS11wJf9",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "12c34931-8bc8-4294-8fe5-e1f1f63871a9",
              "leftValue": "={{ $('tiene_contenido_valido').item.json.normalized_kind }}",
              "rightValue": "manual",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2352,
        112
      ],
      "id": "8a890e4c-24d4-4073-9bd6-23e8cf6a2ac9",
      "name": "es text?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4f98228d-9e79-40dd-81bb-c05a29040b38",
              "leftValue": "={{ $json.validation.ok }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2672,
        288
      ],
      "id": "382848ae-4927-4783-b29a-834540bd9fb4",
      "name": "validacion_datos_pdf_img"
    },
    {
      "parameters": {
        "jsCode": "function normalizeCategory(value) {\n  if (value === null || value === undefined) return '';\n  return String(value).trim().toLowerCase();\n}\n\nfunction toNumber(value, fallback = 0) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nconst data = $json;\nconst detalleItems = Array.isArray(data.detalle_items) ? data.detalle_items : [];\n\n// Si no hay items o hay uno solo, dejar igual\nif (detalleItems.length <= 1) {\n  return [{ json: data }];\n}\n\n// Agrupar por categoría normalizada\nconst groups = new Map();\n\nfor (const item of detalleItems) {\n  const rawCategory = item.categoria ?? null;\n  const normalizedCategory = normalizeCategory(rawCategory) || '__sin_categoria__';\n\n  if (!groups.has(normalizedCategory)) {\n    groups.set(normalizedCategory, {\n      categoria_original: rawCategory,\n      items: [],\n    });\n  }\n\n  groups.get(normalizedCategory).items.push(item);\n}\n\n// Si todos son de la misma categoría, dejar igual\nif (groups.size <= 1) {\n  return [{ json: data }];\n}\n\n// Si hay más de una categoría, devolver un item por grupo de categoría\nconst groupedOutputs = Array.from(groups.values()).map((group, index) => {\n  const items = group.items;\n\n  const importeTotal = items.reduce((acc, item) => {\n    return acc + toNumber(item.total, toNumber(item.precio_unitario, 0) * toNumber(item.cantidad, 1));\n  }, 0);\n\n  const cantidadTotal = items.reduce((acc, item) => {\n    return acc + toNumber(item.cantidad, 1);\n  }, 0);\n\n  const descripciones = items\n    .map(item => item.descripcion)\n    .filter(v => v !== null && v !== undefined && String(v).trim() !== '');\n\n  const descripcionGeneral = descripciones.join(' + ') || null;\n\n  // medio de pago del grupo\n  const mediosPagoRaw = [...new Set(items.map(item => item.medio_pago_raw ?? null))];\n  const mediosPago = [...new Set(items.map(item => item.medio_pago ?? null))];\n\n  const sameMedioPagoRaw = mediosPagoRaw.length === 1 ? mediosPagoRaw[0] : null;\n  const sameMedioPago = mediosPago.length === 1 ? mediosPago[0] : null;\n  const mixedPaymentMethods = !(mediosPagoRaw.length === 1 && mediosPago.length === 1);\n\n  return {\n    json: {\n      ...data,\n\n      descripcion_general: descripcionGeneral,\n      categoria: group.categoria_original ?? null,\n      importe_total: importeTotal,\n      cantidad: cantidadTotal,\n      precio_unitario: importeTotal, // lo dejo así para que no rompa arriba; si querés lo cambiamos\n      medio_pago_raw: sameMedioPagoRaw,\n      medio_pago: sameMedioPago,\n      mixed_payment_methods: mixedPaymentMethods,\n      detalle_items: items.map((item, itemIndex) => ({\n        item_index: itemIndex + 1,\n        descripcion: item.descripcion ?? null,\n        categoria: item.categoria ?? null,\n        cantidad: toNumber(item.cantidad, 1),\n        precio_unitario: toNumber(item.precio_unitario, toNumber(item.total, 0)),\n        total: toNumber(item.total, toNumber(item.precio_unitario, 0) * toNumber(item.cantidad, 1)),\n        medio_pago_raw: item.medio_pago_raw ?? null,\n        medio_pago: item.medio_pago ?? null,\n      })),\n\n      split_aplicado: true,\n      split_group_index: index + 1,\n      split_group_total: groups.size,\n    }\n  };\n});\n\nreturn groupedOutputs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        960
      ],
      "id": "eea6077d-fb45-4fad-9626-09ac632e7414",
      "name": "Separador por categorias."
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "item_numero"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3344,
        384
      ],
      "id": "0a27dd09-1d54-4113-9569-19b1bcf40ee8",
      "name": "agregar_items_con_iva"
    },
    {
      "parameters": {
        "jsCode": "const itemsArray = $('validacion_datos_pdf_img').first().json.items ?? [];\n\nreturn itemsArray.map((item, index) => {\n  return {\n    json: {\n      item_numero: index + 1,\n      descripcion: item.descripcion ?? null,\n      cantidad: item.cantidad ?? null,\n      precio_unitario: item.precio_unitario ?? null,\n      total_products: item.total_products ?? null,\n      total: item.total ?? null\n    }\n  };\n});;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        384
      ],
      "id": "f19712ae-974d-43ff-b99d-9dd4b8c959cf",
      "name": "Normalize Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://restprueba.madelan.com.ar/edp/v1.3/rendicion/{{ $('crear_rendicion').item.json.idrendicion }}/item",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "descripcion",
              "value": "={{ $('Normalize Items').item.json.descripcion }}"
            },
            {
              "name": "importe",
              "value": "={{ $('Normalize Items').item.json.total }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3680,
        320
      ],
      "id": "e5e2212d-8e56-4ea5-bdf7-4f11c4d433fb",
      "name": "Subir descripcion pdf/img item",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VY36SSbeDS11wJf9",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://restprueba.madelan.com.ar/edp/v1.3/rendicion/{{ $('crear_rendicion').item.json.idrendicion }}/item",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "descripcion",
              "value": "={{ $json.descripcion }}"
            },
            {
              "name": "importe",
              "value": "={{ $json.total_products }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3792,
        480
      ],
      "id": "f7f496e9-1914-4f3c-a4ad-45756ac398ea",
      "name": "Subir descripcion pdf/img items",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VY36SSbeDS11wJf9",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c6fb5644-47a8-4576-8b24-d9200da90160",
              "leftValue": "={{ $json.item_numero[1] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3504,
        384
      ],
      "id": "0beebef4-6082-42bf-bb23-7c31bd94b2bf",
      "name": "item o items?"
    },
    {
      "parameters": {
        "jsCode": "const items = $('Iva agregado').all();\n\nreturn items.map((item, index) => ({\n  json: {\n    item_numero: item.json.item_numero ?? index + 1,\n    descripcion: item.json.descripcion ?? null,\n    cantidad: item.json.cantidad ?? null,\n    precio_unitario: item.json.precio_unitario ?? null,\n    total_products: item.json.total_products ?? null,\n    total: item.json.total ?? null\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        480
      ],
      "id": "38c66286-5998-4d7a-bde7-d03efa1fe984",
      "name": "Reconstruccion Normalize Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5423b13c-4a95-428f-a003-28ac04319ce4",
              "leftValue": "={{ $json.data }}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4288,
        400
      ],
      "id": "4699240e-b776-4f24-8e7e-8de0a1f56eb3",
      "name": "se subio?"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('parsear_mensajes_telegram').item.json.telegram_file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3968,
        480
      ],
      "id": "93ff83ac-2850-40cb-9bd7-fef34ebb548d",
      "name": "descargar_archivo_items",
      "webhookId": "e54ccc01-ec57-44e3-b4cf-f946acfc516f",
      "credentials": {
        "telegramApi": {
          "id": "MVbOOTdhDALG2ezE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://restprueba.madelan.com.ar/edp/v1.3/rendicion/{{ $('crear_rendicion').item.json.idrendicion }}/item/{{ $('Subir descripcion pdf/img items').item.json.iditem }}/archivo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "FILE",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4128,
        480
      ],
      "id": "b253d0ea-cf2c-47de-a5e4-6634bfd2bc0b",
      "name": "Subir File Items",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VY36SSbeDS11wJf9",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://restprueba.madelan.com.ar/edp/v1.3/rendicion/{{ $('crear_rendicion').item.json.idrendicion }}/item/{{ $('Subir descripcion pdf/img item').item.json.iditem }}/archivo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "FILE",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4128,
        320
      ],
      "id": "6797839a-863a-4fea-a748-8ead32a83e03",
      "name": "Subir File Item",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VY36SSbeDS11wJf9",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined || v === '') return 0;\n  if (typeof v === 'number') return v;\n\n  let s = String(v).trim();\n  s = s.replace(/\\$/g, '').replace(/\\s/g, '');\n\n  if (s.includes(',') && s.includes('.')) {\n    s = s.replace(/\\./g, '').replace(',', '.');\n  } else if (s.includes(',')) {\n    s = s.replace(',', '.');\n  }\n\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction round2(n) {\n  return Math.round((Number(n) + Number.EPSILON) * 100) / 100;\n}\n\nconst inputItems = $input.all();\n\nif (!inputItems.length) {\n  return [];\n}\n\n// Items originales\nconst items = inputItems.map(entry => ({ ...entry.json }));\n\n// Subtotal real = suma de los totales/productos sin IVA\nconst subtotal = round2(\n  items.reduce((acc, item) => acc + toNumber(item.total_products || item.precio_unitario || 0), 0)\n);\n\n// Total factura = viene repetido en cada item, agarramos el primero válido\nconst totalFactura =\n  toNumber(items.find(i => toNumber(i.total) > 0)?.total || 0);\n\n// Si no hay datos suficientes, dejar pasar igual\nif (subtotal <= 0 || totalFactura <= 0 || totalFactura <= subtotal) {\n  return items.map(item => ({\n    json: item\n  }));\n}\n\nconst coefIVA = totalFactura / subtotal;\n\nlet acumulado = 0;\n\nconst output = items.map((item, index) => {\n  const cantidad = toNumber(item.cantidad) || 1;\n\n  const totalSinIVA = round2(\n    toNumber(item.total_products || item.precio_unitario || 0)\n  );\n\n  let totalConIVA;\n\n  // Para que cierre exacto contra el total de la factura\n  if (index < items.length - 1) {\n    totalConIVA = round2(totalSinIVA * coefIVA);\n    acumulado += totalConIVA;\n  } else {\n    totalConIVA = round2(totalFactura - acumulado);\n  }\n\n  const precioUnitarioConIVA = round2(totalConIVA / cantidad);\n\n  return {\n    json: {\n      ...item,\n      cantidad,\n      precio_unitario: precioUnitarioConIVA,\n      total_products: totalConIVA,\n      total: totalFactura,\n      precio_unitario_sin_iva: toNumber(item.precio_unitario),\n      total_products_sin_iva: totalSinIVA,\n      subtotal_factura_sin_iva: subtotal,\n      coef_iva_aplicado: round2(coefIVA)\n    }\n  };\n});\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        384
      ],
      "id": "00a603cf-16bd-4346-a025-02d3b12036af",
      "name": "Iva agregado"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst statusCode = $json.statusCode ?? 0;\nconst message = body?.error?.message || body?.message || '';\n\nconst enviada =\n  message.toLowerCase().includes('estado invalido') ||\n  message.toLowerCase().includes('cambio de estado invalido');\n\nreturn [{\n  json: {\n    ok_real: statusCode >= 200 && statusCode < 300 ? true : enviada,\n    statusCode,\n    message,\n    raw: body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4672,
        176
      ],
      "id": "ecf99c53-d49a-4d31-ad4c-53c800b4999d",
      "name": "confirmacion de envio",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wakAFQlVrpRv0H6pflrq65aTtRiQFgu_UGbyR_c8Ih0",
          "mode": "list",
          "cachedResultName": "rendisiones-demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wakAFQlVrpRv0H6pflrq65aTtRiQFgu_UGbyR_c8Ih0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 29790390,
          "mode": "list",
          "cachedResultName": "Hoja 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wakAFQlVrpRv0H6pflrq65aTtRiQFgu_UGbyR_c8Ih0/edit#gid=29790390"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        64
      ],
      "id": "da071bc2-f56b-4c7e-8706-a56125a51902",
      "name": "obtener_datos_idemp_pdf",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X9RzWqukg9OFpJYv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wakAFQlVrpRv0H6pflrq65aTtRiQFgu_UGbyR_c8Ih0",
          "mode": "list",
          "cachedResultName": "rendisiones-demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wakAFQlVrpRv0H6pflrq65aTtRiQFgu_UGbyR_c8Ih0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 29790390,
          "mode": "list",
          "cachedResultName": "Hoja 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wakAFQlVrpRv0H6pflrq65aTtRiQFgu_UGbyR_c8Ih0/edit#gid=29790390"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        224
      ],
      "id": "6228a1b1-40ba-439c-8368-ee82a748c62c",
      "name": "obtener_datos_idemp_img",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X9RzWqukg9OFpJYv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "esta rendicion ya ha sido cargada, comproba los datos de tu factura",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2256,
        576
      ],
      "id": "833969e6-a376-48d0-a39d-a870726f1827",
      "name": "ya fue cargada",
      "webhookId": "ea8f437d-f36b-40bf-8feb-a7f9f406068f",
      "credentials": {
        "telegramApi": {
          "id": "MVbOOTdhDALG2ezE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const nueva = $('Normalize Extracted Image Data').first().json;\n\nconst normalizeNumber = (v) => {\n  if (v === undefined || v === null || v === '') return '';\n  const n = Number(String(v).replace(',', '.').trim());\n  return Number.isFinite(n) ? n.toFixed(2) : '';\n};\n\nconst normalizeFactura = (v) => {\n  if (v === undefined || v === null) return '';\n  const digits = String(v).replace(/\\D/g, '');\n  if (!digits) return '';\n  \n  return digits.slice(-8);\n};\n\nconst nueva_rendicion = {\n  numero_factura: normalizeFactura(nueva.numero_factura),\n  total: normalizeNumber(nueva.total),\n};\n\nconst rendiciones_existentes = $input.all();\n\nlet duplicado = false;\nlet match = null;\n\nfor (const item of rendiciones_existentes) {\n  const r = item.json;\n\n  const existente = {\n    numero_factura: normalizeFactura(r[\"Nº Factura\"]),\n    total: normalizeNumber(r[\"Total\"]),\n  };\n\n  if (\n\n    existente.numero_factura === nueva_rendicion.numero_factura &&\n    existente.total === nueva_rendicion.total\n  ) {\n    duplicado = true;\n    match = r;\n    break;\n  }\n}\n\nreturn [\n  {\n    json: {\n      duplicate: duplicado,\n      nueva_rendicion,\n      match,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        224
      ],
      "id": "82fd6b69-705e-444b-a051-8d9d93c697c6",
      "name": "idempotencia img code"
    },
    {
      "parameters": {
        "jsCode": "// =====================================\n// 1) VARIABLES DESDE NORMALIZE EXTRACTED PDF DATA\n// =====================================\n\nconst source_type       = $('Normalize Extracted PDF Data').first().json.source_type;\nconst tipo_comprobante  = $('Normalize Extracted PDF Data').first().json.tipo_comprobante;\nconst tipo_factura      = $('Normalize Extracted PDF Data').first().json.tipo_factura;\nconst numero_factura    = $('Normalize Extracted PDF Data').first().json.numero_factura;\nconst fecha             = $('Normalize Extracted PDF Data').first().json.fecha;\n\nconst proveedor_nombre     = $('Normalize Extracted PDF Data').first().json.proveedor?.nombre;\nconst proveedor_cuit       = $('Normalize Extracted PDF Data').first().json.proveedor?.cuit;\nconst proveedor_direccion  = $('Normalize Extracted PDF Data').first().json.proveedor?.direccion;\n\nconst cliente_nombre       = $('Normalize Extracted PDF Data').first().json.cliente?.nombre;\nconst cliente_cuit_dni     = $('Normalize Extracted PDF Data').first().json.cliente?.cuit_dni;\nconst cliente_direccion    = $('Normalize Extracted PDF Data').first().json.cliente?.direccion;\n\nconst moneda            = $('Normalize Extracted PDF Data').first().json.moneda;\nconst subtotal          = $('Normalize Extracted PDF Data').first().json.subtotal;\nconst iva               = $('Normalize Extracted PDF Data').first().json.iva;\nconst otros_impuestos   = $('Normalize Extracted PDF Data').first().json.otros_impuestos;\nconst total             = $('Normalize Extracted PDF Data').first().json.total;\nconst medio_pago        = $('Normalize Extracted PDF Data').first().json.medio_pago;\nconst cae               = $('Normalize Extracted PDF Data').first().json.cae;\nconst vto_cae           = $('Normalize Extracted PDF Data').first().json.vto_cae;\nconst items_pdf         = $('Normalize Extracted PDF Data').first().json.items;\nconst raw_text          = $('Normalize Extracted PDF Data').first().json.raw_text;\n\n\n// =====================================\n// 2) FUNCIONES AUXILIARES\n// =====================================\n\nfunction normalizeString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v).trim();\n}\n\nfunction onlyDigits(v) {\n  return normalizeString(v).replace(/\\D/g, '');\n}\n\nfunction hasText(v) {\n  return normalizeString(v) !== '';\n}\n\nfunction isValidDateYYYYMMDD(v) {\n  const str = normalizeString(v);\n  if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(str)) return false;\n\n  const [y, m, d] = str.split('-').map(Number);\n  const date = new Date(y, m - 1, d);\n\n  return (\n    date.getFullYear() === y &&\n    date.getMonth() === m - 1 &&\n    date.getDate() === d\n  );\n}\n\nfunction isValidCUIT(v) {\n  return /^\\d{11}$/.test(onlyDigits(v));\n}\n\nfunction isValidCUITorDNI(v) {\n  const digits = onlyDigits(v);\n  return /^\\d{11}$/.test(digits) || /^\\d{7,8}$/.test(digits);\n}\n\nfunction isNumber(v) {\n  return v !== null && v !== '' && !isNaN(Number(v));\n}\n\nfunction isArrayWithItems(v) {\n  return Array.isArray(v) && v.length > 0;\n}\n\nfunction line(label, value, missing, invalid) {\n  const val = normalizeString(value);\n\n  if (missing) return `${label}:   ← FALTANTE`;\n  if (invalid) return `${label}: ${val}  ← INVALIDO`;\n\n  return `${label}: ${val}`;\n}\n\n\n// =====================================\n// 3) VALIDACIONES\n// =====================================\n\nconst missing_fields = [];\nconst invalid_fields = [];\n\nfunction validateField(fieldName, value, validator) {\n  const empty =\n    value === null ||\n    value === undefined ||\n    value === '' ||\n    (Array.isArray(value) && value.length === 0);\n\n  if (empty) {\n    missing_fields.push(fieldName);\n    return;\n  }\n\n  if (!validator(value)) {\n    invalid_fields.push(fieldName);\n  }\n}\n\nvalidateField('source_type', source_type, hasText);\nvalidateField('tipo_comprobante', tipo_comprobante, hasText);\nvalidateField('tipo_factura', tipo_factura, hasText);\nvalidateField('numero_factura', numero_factura, hasText);\nvalidateField('fecha', fecha, isValidDateYYYYMMDD);\n\nvalidateField('proveedor_nombre', proveedor_nombre, hasText);\nvalidateField('proveedor_cuit', proveedor_cuit, isValidCUIT);\nvalidateField('proveedor_direccion', proveedor_direccion, hasText);\n\nvalidateField('cliente_nombre', cliente_nombre, hasText);\nvalidateField('cliente_cuit_dni', cliente_cuit_dni, isValidCUITorDNI);\n\nvalidateField('moneda', moneda, hasText);\nvalidateField('subtotal', subtotal, isNumber);\nvalidateField('iva', iva, isNumber);\nvalidateField('otros_impuestos', otros_impuestos, isNumber);\nvalidateField('total', total, isNumber);\nvalidateField('medio_pago', medio_pago, hasText);\nvalidateField('items', items_pdf, isArrayWithItems);\n\n// CAE y Vto CAE obligatorios\nvalidateField('cae', cae, hasText);\nvalidateField('vto_cae', vto_cae, isValidDateYYYYMMDD);\n\n\n// =====================================\n// 4) VALIDACIONES CRUZADAS\n// =====================================\n\nlet totals_ok = true;\nlet items_ok = true;\n\nconst subtotal_num = Number(subtotal || 0);\nconst iva_num = Number(iva || 0);\nconst otros_num = Number(otros_impuestos || 0);\nconst total_num = Number(total || 0);\n\nconst expected_total = Number((subtotal_num + iva_num + otros_num).toFixed(2));\nconst real_total = Number(total_num.toFixed(2));\n\nif (Math.abs(expected_total - real_total) > 0.01) {\n  totals_ok = false;\n  invalid_fields.push('total');\n}\n\nif (Array.isArray(items_pdf) && items_pdf.length > 0) {\n  const sum_items = Number(\n    items_pdf.reduce((acc, item) => acc + Number(item.total || 0), 0).toFixed(2)\n  );\n\n  if (Math.abs(sum_items - subtotal_num) > 0.01) {\n    items_ok = false;\n    invalid_fields.push('items');\n    invalid_fields.push('subtotal');\n  }\n\n  items_pdf.forEach((item, index) => {\n    const descripcion = item.descripcion;\n    const cantidad = Number(item.cantidad || 0);\n    const precio_unitario = Number(item.precio_unitario || 0);\n    const total_item = Number(item.total || 0);\n\n    if (!hasText(descripcion)) invalid_fields.push(`items[${index}].descripcion`);\n    if (!(cantidad > 0)) invalid_fields.push(`items[${index}].cantidad`);\n    if (!(precio_unitario >= 0)) invalid_fields.push(`items[${index}].precio_unitario`);\n\n    const expected_item_total = Number((cantidad * precio_unitario).toFixed(2));\n    const real_item_total = Number(total_item.toFixed(2));\n\n    if (Math.abs(expected_item_total - real_item_total) > 0.01) {\n      invalid_fields.push(`items[${index}].total`);\n    }\n  });\n}\n\n\n// =====================================\n// 5) RESULTADO FINAL\n// =====================================\n\nconst ok =\n  missing_fields.length === 0 &&\n  invalid_fields.length === 0 &&\n  totals_ok &&\n  items_ok;\n\n\n// =====================================\n// 6) MENSAJE PARA EMPLEADO\n// =====================================\n\nconst message_for_user = ok\n  ? 'Rendición válida. Puede avanzar al commit.'\n  : `RENDICION DE GASTO\n\nRevisamos tu comprobante PDF y faltan o están mal algunos datos.\nRespondé este mismo mensaje corrigiendo solo lo necesario:\n\n${line('Tipo comprobante', tipo_comprobante, missing_fields.includes('tipo_comprobante'), invalid_fields.includes('tipo_comprobante'))}\n${line('Tipo factura', tipo_factura, missing_fields.includes('tipo_factura'), invalid_fields.includes('tipo_factura'))}\n${line('Numero factura', numero_factura, missing_fields.includes('numero_factura'), invalid_fields.includes('numero_factura'))}\n${line('Fecha', fecha, missing_fields.includes('fecha'), invalid_fields.includes('fecha'))}\n\n${line('Proveedor', proveedor_nombre, missing_fields.includes('proveedor_nombre'), invalid_fields.includes('proveedor_nombre'))}\n${line('CUIT proveedor', proveedor_cuit, missing_fields.includes('proveedor_cuit'), invalid_fields.includes('proveedor_cuit'))}\n${line('Direccion proveedor', proveedor_direccion, missing_fields.includes('proveedor_direccion'), invalid_fields.includes('proveedor_direccion'))}\n\n${line('Cliente', cliente_nombre, missing_fields.includes('cliente_nombre'), invalid_fields.includes('cliente_nombre'))}\n${line('CUIT/DNI cliente', cliente_cuit_dni, missing_fields.includes('cliente_cuit_dni'), invalid_fields.includes('cliente_cuit_dni'))}\n${line('Direccion cliente', cliente_direccion, false, false)}\n\n${line('Moneda', moneda, missing_fields.includes('moneda'), invalid_fields.includes('moneda'))}\n${line('Subtotal', subtotal, missing_fields.includes('subtotal'), invalid_fields.includes('subtotal'))}\n${line('IVA', iva, missing_fields.includes('iva'), invalid_fields.includes('iva'))}\n${line('Otros impuestos', otros_impuestos, missing_fields.includes('otros_impuestos'), invalid_fields.includes('otros_impuestos'))}\n${line('Total', total, missing_fields.includes('total'), invalid_fields.includes('total'))}\n${line('Medio pago', medio_pago, missing_fields.includes('medio_pago'), invalid_fields.includes('medio_pago'))}\n\n${line('CAE', cae, missing_fields.includes('cae'), invalid_fields.includes('cae'))}\n${line('Vto CAE', vto_cae, missing_fields.includes('vto_cae'), invalid_fields.includes('vto_cae'))}\n`;\n\n\n// =====================================\n// 7) OUTPUT - SOLO 1 ITEM\n// =====================================\n\nreturn [\n  {\n    json: {\n      validation: {\n        ok,\n        missing_fields: [...new Set(missing_fields)],\n        invalid_fields: [...new Set(invalid_fields)],\n        message_for_user\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        64
      ],
      "id": "f5e4a5df-96df-45d6-b6c0-ad5b8d1e0105",
      "name": "idempotencia pdf code"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.validation.message_for_user }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2496,
        432
      ],
      "id": "902f4fc8-88f7-45fd-acba-e14195aa802e",
      "name": "Comprueba que todos los datos",
      "webhookId": "2843043d-f86b-4c0c-869c-6522e98428be",
      "credentials": {
        "telegramApi": {
          "id": "MVbOOTdhDALG2ezE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8c0ebe3e-6b12-41e3-aeaa-bfe2fb4f543d",
              "leftValue": "={{ $json.duplicate }}",
              "rightValue": "={{true}}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1968,
        592
      ],
      "id": "aa841046-bd2f-41af-9cae-f5e9ad5569b5",
      "name": "idempotencia text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8c0ebe3e-6b12-41e3-aeaa-bfe2fb4f543d",
              "leftValue": "={{ $json.duplicate }}",
              "rightValue": "={{true}}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "5605f1da-61d5-4b7b-9b86-4bff37e52afc",
              "leftValue": "={{ $json.validation.ok }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2016,
        128
      ],
      "id": "9d025c6d-d27e-408d-a73e-1bf8bf71fc9d",
      "name": "idempotencia pdf/img"
    }
  ],
  "connections": {
    "Analyze image": {
      "main": [
        [
          {
            "index": 0,
            "node": "Normalize Extracted Image Data",
            "type": "main"
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "index": 0,
            "node": "Normalize Extracted PDF Data",
            "type": "main"
          }
        ]
      ]
    },
    "Iva agregado": {
      "main": [
        [
          {
            "index": 0,
            "node": "agregar_items_con_iva",
            "type": "main"
          }
        ]
      ]
    },
    "Messages?": {
      "main": [
        [
          {
            "index": 0,
            "node": "parsear_mensajes_telegram",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "descarte_sin_mensajes",
            "type": "main"
          }
        ]
      ]
    },
    "Normalizacion": {
      "main": [
        [
          {
            "index": 0,
            "node": "Messages?",
            "type": "main"
          }
        ]
      ]
    },
    "Normalize Extracted Image Data": {
      "main": [
        [
          {
            "index": 0,
            "node": "obtener_datos_idemp_img",
            "type": "main"
          }
        ]
      ]
    },
    "Normalize Extracted PDF Data": {
      "main": [
        [
          {
            "index": 0,
            "node": "obtener_datos_idemp_pdf",
            "type": "main"
          }
        ]
      ]
    },
    "Normalize Extracted Text Data": {
      "main": [
        [
          {
            "index": 0,
            "node": "decision_OK",
            "type": "main"
          }
        ]
      ]
    },
    "Normalize Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "Iva agregado",
            "type": "main"
          }
        ]
      ]
    },
    "Reconstruccion Normalize Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "Subir descripcion pdf/img items",
            "type": "main"
          }
        ]
      ]
    },
    "Separador por categorias.": {
      "main": [
        [
          {
            "index": 0,
            "node": "iterar_items_gasto",
            "type": "main"
          }
        ]
      ]
    },
    "Subir File Item": {
      "main": [
        [
          {
            "index": 0,
            "node": "se subio?",
            "type": "main"
          }
        ]
      ]
    },
    "Subir File Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "se subio?",
            "type": "main"
          }
        ]
      ]
    },
    "Subir descripcion pdf/img item": {
      "main": [
        [
          {
            "index": 0,
            "node": "descargar_archivo_item",
            "type": "main"
          }
        ]
      ]
    },
    "Subir descripcion pdf/img items": {
      "main": [
        [
          {
            "index": 0,
            "node": "descargar_archivo_items",
            "type": "main"
          }
        ]
      ]
    },
    "Subir descripcion text": {
      "main": [
        [
          {
            "index": 0,
            "node": "enviar_rendicion",
            "type": "main"
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "index": 0,
            "node": "descargar_pdf",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "descargar_imagen",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "normalizar texto",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "descarte_tipo_desconocido",
            "type": "main"
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Normalizacion",
            "type": "main"
          }
        ]
      ]
    },
    "Validador de datos pdf/fotos": {
      "main": [
        [
          {
            "index": 0,
            "node": "validacion_datos_pdf_img",
            "type": "main"
          }
        ]
      ]
    },
    "agente_chat": {
      "main": [
        [
          {
            "index": 0,
            "node": "respuesta_chat",
            "type": "main"
          }
        ]
      ]
    },
    "agente_parser_rendicion": {
      "main": [
        [
          {
            "index": 0,
            "node": "Normalize Extracted Text Data",
            "type": "main"
          }
        ]
      ]
    },
    "agregar_items_con_iva": {
      "main": [
        [
          {
            "index": 0,
            "node": "item o items?",
            "type": "main"
          }
        ]
      ]
    },
    "agregar_rendiciones": {
      "main": [
        [
          {
            "index": 0,
            "node": "resumen_rendiciones",
            "type": "main"
          }
        ]
      ]
    },
    "chat o rendicion?": {
      "main": [
        [
          {
            "index": 0,
            "node": "obtener_conversacion",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "agente_parser_rendicion",
            "type": "main"
          }
        ]
      ]
    },
    "clasificar intención": {
      "main": [
        [
          {
            "index": 0,
            "node": "chat o rendicion?",
            "type": "main"
          }
        ]
      ]
    },
    "confirmacion de envio": {
      "main": [
        [
          {
            "index": 0,
            "node": "confirmacion_carga_usuario",
            "type": "main"
          }
        ]
      ]
    },
    "confirmacion_carga_usuario": {
      "main": [
        [
          {
            "index": 0,
            "node": "actualizar_conv_post_envio",
            "type": "main"
          }
        ]
      ]
    },
    "crear_rendicion": {
      "main": [
        [
          {
            "index": 0,
            "node": "hay un file?",
            "type": "main"
          }
        ]
      ]
    },
    "decision_OK": {
      "main": [
        [
          {
            "index": 0,
            "node": "Separador por categorias.",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "respuesta_aclaracion",
            "type": "main"
          }
        ]
      ]
    },
    "descargar_archivo_item": {
      "main": [
        [
          {
            "index": 0,
            "node": "Subir File Item",
            "type": "main"
          }
        ]
      ]
    },
    "descargar_archivo_items": {
      "main": [
        [
          {
            "index": 0,
            "node": "Subir File Items",
            "type": "main"
          }
        ]
      ]
    },
    "descargar_imagen": {
      "main": [
        [
          {
            "index": 0,
            "node": "Analyze image",
            "type": "main"
          }
        ]
      ]
    },
    "descargar_pdf": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract from File",
            "type": "main"
          }
        ]
      ]
    },
    "enviar_rendicion": {
      "main": [
        [
          {
            "index": 0,
            "node": "confirmacion de envio",
            "type": "main"
          }
        ]
      ]
    },
    "error_subida_archivo": {
      "main": [
        []
      ]
    },
    "es text?": {
      "main": [
        [
          {
            "index": 0,
            "node": "crear_rendicion",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Validador de datos pdf/fotos",
            "type": "main"
          }
        ]
      ]
    },
    "es_del_usuario": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "iterar_rendiciones",
            "type": "main"
          }
        ]
      ]
    },
    "hay un file?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Subir descripcion text",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Normalize Items",
            "type": "main"
          }
        ]
      ]
    },
    "idempotencia img code": {
      "main": [
        [
          {
            "index": 0,
            "node": "idempotencia pdf/img",
            "type": "main"
          }
        ]
      ]
    },
    "idempotencia pdf code": {
      "main": [
        [
          {
            "index": 0,
            "node": "idempotencia pdf/img",
            "type": "main"
          }
        ]
      ]
    },
    "idempotencia pdf/img": {
      "main": [
        [
          {
            "index": 0,
            "node": "es text?",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "ya fue cargada",
            "type": "main"
          }
        ]
      ]
    },
    "idempotencia text": {
      "main": [
        [
          {
            "index": 0,
            "node": "ya fue cargada",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "iterar_items_gasto",
            "type": "main"
          }
        ]
      ]
    },
    "idempotencia text code": {
      "main": [
        [
          {
            "index": 0,
            "node": "idempotencia text",
            "type": "main"
          }
        ]
      ]
    },
    "item o items?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Subir descripcion pdf/img item",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Reconstruccion Normalize Items",
            "type": "main"
          }
        ]
      ]
    },
    "iterar_items_gasto": {
      "main": [
        [
          {
            "index": 0,
            "node": "es text?",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "obtener_datos_idemp_text",
            "type": "main"
          }
        ]
      ]
    },
    "iterar_rendiciones": {
      "main": [
        [
          {
            "index": 0,
            "node": "agregar_rendiciones",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "es_del_usuario",
            "type": "main"
          }
        ]
      ]
    },
    "modelo_chat_conversacional": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "agente_chat",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "modelo_parser_rendicion": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "agente_parser_rendicion",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "new conversation?": {
      "main": [
        [
          {
            "index": 0,
            "node": "agente_chat",
            "type": "main"
          }
        ]
      ]
    },
    "normalizar texto": {
      "main": [
        [
          {
            "index": 0,
            "node": "clasificar intención",
            "type": "main"
          }
        ]
      ]
    },
    "obtener_conversacion": {
      "main": [
        [
          {
            "index": 0,
            "node": "new conversation?",
            "type": "main"
          }
        ]
      ]
    },
    "obtener_datos_idemp_img": {
      "main": [
        [
          {
            "index": 0,
            "node": "idempotencia img code",
            "type": "main"
          }
        ]
      ]
    },
    "obtener_datos_idemp_pdf": {
      "main": [
        [
          {
            "index": 0,
            "node": "idempotencia pdf code",
            "type": "main"
          }
        ]
      ]
    },
    "obtener_datos_idemp_text": {
      "main": [
        [
          {
            "index": 0,
            "node": "idempotencia text code",
            "type": "main"
          }
        ]
      ]
    },
    "obtener_rendiciones_pendientes": {
      "main": [
        [
          {
            "index": 0,
            "node": "iterar_rendiciones",
            "type": "main"
          }
        ]
      ]
    },
    "parsear_mensajes_telegram": {
      "main": [
        [
          {
            "index": 0,
            "node": "tiene_contenido_valido",
            "type": "main"
          }
        ]
      ]
    },
    "respuesta_aclaracion": {
      "main": [
        [
          {
            "index": 0,
            "node": "actualizar_conv_post_aclaracion",
            "type": "main"
          }
        ]
      ]
    },
    "respuesta_chat": {
      "main": [
        [
          {
            "index": 0,
            "node": "actualizar_conv_post_chat",
            "type": "main"
          }
        ]
      ]
    },
    "respuesta_rechazo": {
      "main": [
        []
      ]
    },
    "resumen_rendiciones": {
      "main": [
        []
      ]
    },
    "se subio?": {
      "main": [
        [
          {
            "index": 0,
            "node": "enviar_rendicion",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "error_subida_archivo",
            "type": "main"
          }
        ]
      ]
    },
    "tiene_contenido_valido": {
      "main": [
        [
          {
            "index": 0,
            "node": "obtener_rendiciones_pendientes",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "respuesta_rechazo",
            "type": "main"
          }
        ]
      ]
    },
    "validacion_datos_pdf_img": {
      "main": [
        [
          {
            "index": 0,
            "node": "crear_rendicion",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Comprueba que todos los datos",
            "type": "main"
          }
        ]
      ]
    },
    "ya fue cargada": {
      "main": [
        []
      ]
    }
  }
}